[2015-09-21 17:38] guidov opened #1 "root install problem"
Hi,
When I try to install as root (on Ubuntu):

Running post install task
Starting hide_code.js install
Unable to install into /usr/lib/python2.7/site-packages/notebook/static/custom
Directory doesn't exist.
Make sure Jupyter is installed.

Install as a user doesn't work either.

My custom directory resides under ~/.jupyter/custom

Is there a way to fix the code to configure custom.js to auto-load

[2015-09-21 18:10] guidov commented on #1
just a further comment , would it be possible to do the install similar to how the livereval (RISE) extension is installed?

https://github.com/damianavila/RISE

[2015-09-21 18:23] kirbs- commented on #1
Can you try the code below?
[code]
Also, are you sure jupyter is installed for root? You should see it (and notebook) listed if you run ```pip list```.

[2015-09-21 18:36] guidov commented on #1
I'm getting these messages:

Also note the error I'm getting under python3

——> python -c "import hide_code.hide_code as hc;
hc.install('/home/user/.jupyter/custom')"
Starting hide_code.js install
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/hide_code/hide_code.py",
line 20, in install
    install_path = np_path
NameError:

[2015-09-21 19:41] kirbs- commented on #1
I think I fixed the issue. Would you download the dev branch, unzip and run ```python setup.py install```?

[2015-09-21 20:54] guidov commented on #1
The dev branch works great!

running install_scripts
Running post install task
Starting hide_code.js install
Copying hide_code.js to /home/user/.jupyter/custom
Configured custom.js to auto-load hide_code.js

Thanks, this is a really useful extension.

On Mon, Sep 21, 2015 at 3:41 PM, kirbs- <notifications@github.com> wrote:

[2015-09-22 01:10] #1 closed

[2015-10-04 04:45] BioNinja opened #4 "Markdown Cell Could not revert back when exit hide code model"
when exit the hide code model, markdown cell had add additional cell like this:

### raw markdown cell could not be hided in normal condition
![hide_code_bug](https://cloud.githubusercontent.com/assets/5889336/10266455/d1cda920-6a95-11e5-8108-646eb99f3b52.PNG)

could you fix this?

[2015-10-04 13:33] kirbs- commented on #4
As a temporary hack, try hiding the code on the specific markdown cell.
<img width="1146" alt="screen shot 2015-10-04 at 9 32 37 am" src="https://cloud.githubusercontent.com/assets/5613735/10268060/e3596a8c-6a7a-11e5-8878-a9ac6936348e.png">

[2015-10-05 03:28] BioNinja commented on #4
Thanks, kirbs. However,  when selected the hide code option for markdown cell, there is still some bug when I want to edit markedown cell.

the **bug** look like this:

select hide code opition as you said, everthing works well:
![Uploading 1.PNG…]()

But addtional bug pops out( the cell toolbar: **None** ), when you doble click the markdown cell, the markdown cell could not be edited.

the tempor

[2016-01-25 16:49] mgcdanny opened #5 "Export to PDF still shows code"
Hi,

Thanks for the great plug-in.  After I hide the code, the export to pdf still renders code cells.  I am using "File" "Download As" "PDF" from the jupyter notebook browser.

Let me know if you have any suggestions.  My goal is to render the notebook as a pdf without the code cells.  Thanks!

[2016-01-26 01:22] kirbs- commented on #5
This plugin uses jQuery to show/hide the various sections. I'm guessing the the pdf exporter is reading directly from the notebook .ipynb file instead of rendering, then exporting. I haven't tried this, but exporting as slides or a html page then saving to pdf may work.

I'll take a look at this. I'm not that familar with the pdf exporter.

[2016-01-26 02:21] ruffsl opened #6 "Install location `python3.`"
After the conda's pip install didn't work (didn't see any changes in the notebook UI):

I tried to the [Installation Troubleshooting](https://github.com/kirbs-/hide_code#installation-troubleshooting):

[code]

This didn't change anything, I assume from the directory issue above. So I tried installing from source

[code]

Then I saw it was trying to access a `python3.` directory that didn't exist,

[2016-02-01 01:47] kirbs- commented on #6
@ruffsl would you download the dev branch and try installing again?

[2016-02-01 01:50] kirbs- commented on #4
@BioNinja would you download the dev branch and see if the issue persists. I've add some logic to ignore markdown cells. That should take care of the issue.

[2016-02-01 02:40] ruffsl commented on #6
I removed the soft link I made earer, checked out and built the dev branch and I looks to be finding the correct directory. Thanks!
[code]

[2016-02-03 02:33] #6 closed

[2016-02-03 02:33] #4 closed

[2016-02-03 02:59] kirbs- commented on #5
Looks like the various exporters render directly from the .ipynb file. When I get some time I'll tinker with a custom exporter that respects the code hiding options selected.

[2016-02-03 14:05] mgcdanny commented on #5
Cool.  Thanks !

[2016-02-09 04:55] ruffsl opened #11 "Can not change cell toolbar back to none after toggling hide/show"
I'm experiencing an odd behavior where once I've a non-`None` cell toolbar view selected, then toggle the hide/show code button, I can no longer switch cell toolbar view back to `None`. Here is a gif of an example:

![anim](https://cloud.githubusercontent.com/assets/2293573/12907807/b976ffac-cebd-11e5-93ab-60416d2d22e0.gif)

System info:
* hide_code: commit 52e071ce9c1c1236a0b6978f64dbe9d96e85c151

[2016-02-10 01:19] kirbs- commented on #11
That's odd. The JS that toggles the code hiding is a simple jQuery toggle(). I'll take a look though.

[2016-02-18 20:03] cenveoanalyst commented on #5
I use Jupyter Notebooks to write reports in my organization and to hide the code for exporting would be greatly appreciated.

[2016-02-24 02:55] itcarroll opened #12 "Cell toolbar option hide code does nothing, </> button works perfectly"
I just installed hide_code with pip3 and ran hide_code.hide_code.install() after creating an empty ~/.jupyter/custom/custom.js. The new </> button works as adversied, and is awesome. The individual cell toolbar option to hide code does nothing. I get a bunch of these errors in the javascript console:

[code]

I know nothing about javascript, but I can try going deeper if you need.

jupyter 4.0.6
i

[2016-03-03 22:29] kirbs- commented on #11
@ruffsl would you install the dev branch and see if the issue is fixed on your end? Thanks!

[2016-03-03 22:31] kirbs- commented on #12
@itcarroll would you download the dev branch and try it out?

[2016-03-03 22:59] ruffsl commented on #11
I think is more stable, as I no longer encounter the lockup above.
The only trip up I found could cause was:
(From fresh opened notebook)
 1. [Toggle `hide/show code`: ON]
 * [Change 'Cell Toolbar' to something other than `None`, like `Slideshow`]
 * [Toggle `hide/show code`: OFF]
 * (Note: 'Cell Toolbar' still appears to be `None`)
 * [Correct this by resetting 'Cell Toolbar' to `Slideshow`]
 * (

[2016-03-03 23:31] itcarroll commented on #12
Works!

[2016-03-04 02:05] kirbs- commented on #11
Yeah, that is intentional behavior. I'll add a note in the documentation.

[2016-03-04 02:22] #11 closed

[2016-03-04 02:22] #12 closed

[2016-04-11 13:10] kirbs- commented on #5
@mgcdanny @cenveoanalyst I've added support for exporting on the dev branch.  Travis CI is builds are failing on Python 3.x so you may see some problems. Python 2.7 works though.

[2016-04-16 23:19] vinhdizzo commented on #5
@kirbs- looking forward to this enhancement.  Just to confirm, when this becomes available, whenever we export the notebook to a different format via jupyter-nbconvert, whatever code or output we hide will be respected in the output file (eg, html), correct?

I'm using Jupyter with the R kernel.  This should also work there, right?  Thanks.

[2016-04-18 13:29] kirbs- commented on #5
@vinhdizzo this enhancement adds export options to nbconvert and to Jupyter notebook's UI. I believe it will work with any kernal. Look at the [dev](https://github.com/kirbs-/hide_code/tree/dev) branch for more info.

[2016-04-18 13:56] vinhdizzo commented on #5
@kirbs great, I look forward to when this get's rolled into master.  Will test out then.  Thanks again.

[2016-04-20 20:52] Macfly opened #14 "make hide code persistent"
Hi,
This plugin is really perfect for focusing on the important part of the code.
It could be a good feature to keep the cells hidden or not when sending it to someone else (who has the plugin) or opening the same notebook again.

Thanks for the great job.

[2016-04-20 21:56] kirbs- commented on #14
@Macfly this is a bug. The initial notebook rendering should respect the hide code/prompt cell selection. I'll include this with the 0.2.0 release.

[2016-04-25 13:16] #14 closed

[2016-04-25 13:43] vinhdizzo commented on #5
Thanks @kirbs- , I just upgraded to 0.2.0 and upgraded nbcovert to 4.2 to test out the new rolled out feature.  My tests:
- The two html and pdf export buttons within the notebook did not work for me (no response)
- `nbconvert --to hide_code_html` did work for me.  My converted html file did indeed hide the raw input code.  However, I still see the `In [  ]:` labels next to empty space.  Is this i

[2016-04-25 14:15] kirbs- commented on #5
Can you post the results from the installation process? The first issue sounds like the JS dependencies didn't get installed correctly. On the second issue, did you have the "Hide prompts" option selected?

[2016-04-25 14:27] vinhdizzo commented on #5
Second issue: ahh, `Hide Prompt` did fix it.  For some reason I originally thought that referred to `Hide Output`.

`hide_code` upgrade:
[code]

[2016-04-25 14:29] vinhdizzo commented on #5
BTW, I just tried the export button again, and I get
[code]

[2016-04-25 14:42] kirbs- commented on #5
Try running
[code]

[2016-04-25 14:51] vinhdizzo commented on #5
[code]

[2016-04-25 15:57] kirbs- commented on #5
Do you see hide_code.js in C:\ProgramFiles\Continuum\Anaconda3\lib\site-packages\notebook\static\custom ?

[2016-04-25 16:24] vinhdizzo commented on #5
Yes, I see `custom.css`, `custom.js`, and `hide_code.js`.

[2016-04-25 16:35] kirbs- commented on #5
Does pip show hide_code as version 0.2.0?

[2016-04-25 19:29] vinhdizzo commented on #5
It did when I installed it.  Here it is when I just checked:
[code]

Note that when I use `jupyter-nbconvert --to hide_code_html`, things work.  It's just that button that doesn't work.  Thanks.

[2016-04-25 19:36] kirbs- commented on #5
Odd, are you getting any JS errors when you click on either export button?

[2016-04-25 20:57] vinhdizzo commented on #5
No.  In the jupyter console, all I see is:
[code]

[2016-04-25 21:29] kirbs- commented on #5
The installation didn't run smoothly, so I'm guessing the export handlers for Jupyter notebook didn't load correctly. Run the code below from any notebook.
[code]
You should see this if the export handlers are enabled.
`
{u'NotebookApp': {u'server_extensions': [u'hide_code.hide_code']}}
`
Also, just to confirm, did you restart Jupyter after upgrading hide code?

[2016-04-25 21:36] vinhdizzo commented on #5
Yes, I did restart Jupyter after upgrading hide_code.  I just did it again.  Within a notebook cell, I get:
[code]

When I open a python interpreter and run your code, I do get
[code]

[2016-04-25 21:52] kirbs- commented on #5
Definitely sounds like the export handlers didn't load. Try starting jupyter using
`
jupyter notebook --NotebookApp.server_extensions="['hide_code.hide_code']"
`

[2016-04-25 21:57] vinhdizzo commented on #5
Same problem persists.  Here's the console log:
[code]

[2016-04-26 01:00] kirbs- commented on #5
I just pushed v0.2.1. I added some logging to the release to help troubleshoot. Would you upgrade, restart Jupyter, try exporting and past the results. Also run the code below:
[code]

[2016-04-26 13:09] vinhdizzo commented on #5
Here's the upgrade:
[code]

I just realized something I forgot to mention (stupid me, apologies).  I've been using the R kernel, and hence those python debug messages did not run before.  Here it is with the Python3 kernel:
[code]

When I click the export button, I get a popup that says `I couldn't find a kernel matching python3/export/html/export/html.  Please select a kernel: [Choose Python 3 or

[2016-04-26 14:22] kirbs- commented on #5
Thanks, hide_code installed cleanly for you. I tested exporting with R kernel. The routes used by the R kernel aren't defined. This is a bug in hide_code's routing. I'll get this updated. If you delete `?kernel_name=ir` from the url, then click an export button it works.

[2016-04-26 14:32] vinhdizzo commented on #5
I don't see `?kernel_name=ir` in my notebook's url.  Maybe this is a `python3` thing?

Also, based on my previous results, it appears that `hide_code` does not work with `python3` kernel?

[2016-04-26 17:00] kirbs- commented on #5
I've fixed the routing bug on the dev branch. Would you download, unzip, and run `python setup.py install` from the directory?

It should work with all kernels. I've tested with python 2.7, 3.5 and now R; everything works as expected.

[2016-04-26 17:13] vinhdizzo commented on #5
Hmm, still not working on the R kernel or python3 kernel (404 file not found).  Here's my install log:
[code]
In the Jupyter console, in addition to the `404 GET` error, I see:
[code]

[2016-04-26 19:55] kirbs- commented on #5
I noticed in here

you're testing with a notebook nested in the root directory. I found another routing issue with this use case. I've pushed a fix to the dev branch. Would you download, unzip, install and retest?

[2016-04-26 20:13] vinhdizzo commented on #5
Still doesn't work for me.  In Jupyter console:
[code]

[2016-04-26 21:01] kirbs- commented on #5
What the full URL you see with a notebook open? I only implemented support for one child folder level. For example: `juypter_root/some_folder/some_notebook.ipynb` should work, but `juypter_root/some_folder/another_folder/some_notebook.ipynb` will not.

[2016-04-26 21:04] vinhdizzo commented on #5
URL: `http://localhost:8888/notebooks/Folder1/Projects/Untitled1.ipynb/export/html`
Based on what you stated, this is not supported?

I copied the file into Folder1, and yes, the export button works.

[2016-04-26 21:21] kirbs- commented on #5
Glad that finally worked. The plugin will support any number of nested folders. I just set it to two levels deep to troubleshoot your issue. I'll get this fixed for the next release.

[2016-05-01 00:57] kirbs- commented on #5
This is resolved in 0.3.0.

[2016-05-01 00:57] #5 closed

[2016-05-01 04:07] vinhdizzo commented on #5
Thanks, confirming both the 'export to html' and 'export to pdf via 'wkhtmltopdf' works for me.

[2016-05-04 21:51] vinhdizzo opened #18 "html export button does not work when notebook is in path 3 layers deep"
On Windows, I get a 404 error similar to what we saw [here](https://github.com/kirbs-/hide_code/issues/5) when I click html export on a notebook that is 4 layers deep: `tree/folder1/folder2/folder3`.  When the notebook is in folder1 or 2, things work.  Thanks.

[2016-05-04 23:19] kirbs- commented on #18
I forgot to add this to the documentation. This plugin has to add routes to the various export handlers for each folder level when Jupyter starts. The default is 3 levels deep, with the root folder being level 1. You can change this behavior though using the code below.
[code]
Then restart Jupyter.

[2016-05-05 12:58] #18 closed

[2016-05-14 09:50] nehcgnay opened #19 "Can't export"
Hello,

It gives me "You are requesting a page that does not exist!" after clicking the exporting icons.
Any suggestions?

Thanks!

[2016-05-15 12:29] kirbs- commented on #19
Try the solution in issue #18.

[2016-05-31 07:55] scientist1642 opened #20 "Not working on OSX"
Hi, thanks for the plugin it seems nice but I can't get it working

Doesn't work on mac for me, I don't see any new icon, view menu:
`pip install hide_code` run without an issue, is there any other step I need?

[code]

[2016-05-31 13:55] kirbs- commented on #20
Please paste the output from `pip install hide_code`.

[2016-05-31 13:56] kirbs- commented on #19
Closing this for now. Please reopen if your issue isn't resolved.

[2016-05-31 13:56] #19 closed

[2016-05-31 13:58] scientist1642 commented on #20
Here it is:
[code]

[2016-05-31 14:10] kirbs- commented on #20
Sorry, that's not what I'm looking for. Run this and paste the results. ` python -c 'import hide_code.hide_code as hc; hc.install()'`

Issues with missing toolbar buttons are usually due to a bad install.
A clean install should look like this:

![untitled](https://cloud.githubusercontent.com/assets/5613735/15677338/df074a76-2717-11e6-8aec-3f822c370459.png)

[2016-05-31 15:30] scientist1642 commented on #20
I see, thank you! @kirbs-

It seems that somehow it picked up my custom .jupyter folder to copy the script, and it couldn't find `custom.js` there. I just copied custom.js from `..../notebook/static/custom` to `.jupyter/custom` and it works now.

This was the output previously:
[code]
P.S very nice plugin again 👍

[2016-05-31 15:34] #20 closed

[2016-06-15 11:04] lorek123 opened #21 "After installation hide_code isn't available"
Hi,
I installed jupyter from Anaconda, and installed hide_code from pip.
hide_code isn't showing in jupyer neither in nbextensions or in view -> cell_bar. When i tried to use it from nbconverter i've got import error:
`ImportError: No module named 'hide_code.HideCodeLatexPDFExporter'`

[2016-06-17 12:22] kirbs- commented on #21
Please post the output from `pip install hide_code`.

[2016-06-23 09:10] kaalih opened #22 "500 : Internal Server Error when exporting to html"
Nice work creating this module. However I get an internal server error when I try to use the export to html button. I have all required modules installed and on the right version I think. Any ideas on why this fails?

[2016-06-24 11:58] kirbs- commented on #22
Would you paste Jupyter's console output? It should give a more detailed error message.

[2016-06-29 09:11] warren-oneill commented on #21
I'm having the same issue. Here's the ```pip install``` output
[code]

[2016-06-29 09:16] warren-oneill commented on #21
ah I restart my computer and now everything is there.

[2016-06-29 12:15] kirbs- commented on #21
I'll add a note to the installation documentation. You have to restart Jupyter if hide_code was installed while it is running. @warren-oneill can you confirm this was the scenario that  caused this error?

[2016-06-29 12:21] warren-oneill commented on #21
Well restarting the kernel didn't work for me but restarting my computer did. Maybe just restarting  jupyter would have done the trick.

[2016-06-29 12:24] kirbs- commented on #21
Did you install hide_code with Jupyter running?

[2016-06-29 12:27] warren-oneill commented on #21
not 100% sure but probably yes.

[2016-06-29 12:34] kirbs- commented on #21
Thanks, that helps. Jupyter only loads the exporting modules at start up. I'm guessing that's caused the issue you came across.

@lorek123 I'm closing this issue for now. Please reopen if you're still having problems.

[2016-06-29 12:34] #21 closed

[2016-07-06 15:43] kaalih commented on #22
Sorry I have not been able to provide this. Vacation got in the way.

[2016-08-09 04:23] jkleint opened #23 "Export still shows code"
Very nicely done extension, thank you.  Works great when viewing the notebook in Jupyter, but doesn't seem to work on export with the latest version of Jupyter.

First, it doesn't install; I think the location for extensions has moved to `~/.local/share/jupyter/nbextensions/`.  I installed it manually.

The toolbar buttons show up in the viewer, and clicking the toggle button hides code; but all o

[2016-08-09 12:03] kirbs- commented on #23
5.0 just came out a couple of weeks ago. I haven't tested against that yet. Would you post the output from the pip install?

Also, the exporting issues you mention should go away if you restart Juypter. The import errors you're seeing usually happen when hide_code is installed with Juypter already running. Checkout issue #21.

[2016-08-09 20:05] jkleint commented on #23
Thanks for the response.  The pip output is not interesting, except that it does not contain any of the `Running setup.py install` or post-install stuff, which would explain why it's not getting installed.

I also discovered that a pip uninstall does not remove the extension, since the JS (should) get copied into `~/.local/share/jupyter/nbextensions/`, and pip does not remove things from there.  P

[2016-08-09 23:07] kirbs- commented on #23
I think the problem you're seeing is due to a manual install into the nbextensions directory. The JS for the UI is being loaded, but all the backend stuff isn't.

Can you paste the output from Jupyter's console right after startup?  It should look like below.

[code]
Notice the second and third lines. This indicates the backend server extensions are loaded.

[2016-08-11 12:58] oarcher commented on #22
Hi, I've got the same problem. here is the log from jupyter:

jupyter (1.0.0)
jupyter-client (4.1.1)
jupyter-console (4.0.3)
jupyter-core (4.1.1)
hide-code (0.3.0)
nbconvert (4.2.0)

It was working from the UI side before upgrading to nbconvert (4.2.0), and i have upgraded to use command line. Now, the command line is working fine, but i have some difficulties to get back to downgrade ..

[code]

[2016-08-11 16:52] kirbs- commented on #22
Did hide_code install cleanly from `pip install hide_code`?

[2016-08-11 18:41] oarcher commented on #22
not exactly, because i ran pip install as root, and get #1 .
So I run manually
[code]
as my  user
it complain about missing custom.js, so i had to touch this file manually.
 after relauchnig it, install add this to custom.js:

[code]

[2016-08-12 18:48] kirbs- commented on #22
Would you post the output from `python -c "import hide_code as hc; print(hc.HideCodeConfig.config_file)"`.

[2016-08-12 19:14] oarcher commented on #22
Yes:
[code]
I've found that the file exist here:
[code]

[2016-08-12 19:55] kirbs- commented on #22
If `/usr/lib/python2.7/site-packages/hide_code/` directory exists then copying `/usr/local/lib/python2.7/dist-packages/hide_code/hide_code_config.json` into the directory should fix the problem.

I'm not sure why pip is installing into dist-packages though. I thought site-packages was the the default location. Either way I'll add dist-packages as a place to check for the config file.

[2016-08-12 21:21] oarcher commented on #22
there is no ```/usr/lib/python2.7/site-packages``` directory (ubuntu 14.04)
so i've
[code]

And now it works. Nice!

[2016-08-19 02:00] kirbs- commented on #22
@oarcher would you remove the symlink, download the dev branch and install? The path issue you're seeing should be fixed.

[2016-08-19 05:22] oarcher commented on #22
Nice, it works now!
[code]

[2016-08-23 19:57] mattmo commented on #21
I tried installing hide_code on OSX with Jupyter 4.2.2. The install reports success, and I see the modified custom.js is loaded but require never brings in the hide_code.js file. I can navigate to localhost:8888/custom/hide_code.js and the file loads without a problem. Details of my install below.

[code]

[2016-08-23 21:41] kirbs- commented on #21
Sounds like the Jupyter is loading a separate custom.js. Run `jupyter --paths'. Do you have any "custom" folders in any of the directories listed?

Also, if you open http://localhost:8888/custom/custom.js with jupyter running on port 8888. At the bottom of the file you should see the require code snippet below.

[code]

[2016-08-23 21:45] mattmo commented on #21
Thanks for following up. Here's the output of `jupyter --paths`

[code]

As for the custom/custom.js I do see that exact snippet.

[2016-08-23 21:49] kirbs- commented on #21
Strange. That setup sounds fine. Is there a specific part of the UI missing or is the exporting misbehaving?

[2016-08-23 21:49] mattmo commented on #21
And I just solved the issue by accident by opening up things in a new incognito window. Some strange caching must have been going on. Doh!

Thanks for your help and hopefully this thread can help others.

[2016-08-24 00:39] mattmo commented on #21
And amazingly it stopped working again. Same behavior as before.

* http://localhost:8888/custom/custom.js loads file
* no errors in the console

yet i don't see the hide_code in the `cell type` submenu and i don't see the new buttons next to the CellToolbar button on the main menu.

[2016-08-24 00:51] kirbs- commented on #21
Very strange. Have you tried restarting jupyter? Maybe a browesr issue?

[2016-08-24 02:51] mattmo commented on #21
Yes, it's a strange one! Tried in Safari as well and I'm seeing the same thing. I have restarted jupyter as well. I added a console log inside the events.on('app_initialized.NotebookApp'... callback and it's not getting called. I can dig into this more but first I wanted to see if you had considered packaging this as an nbextension:

http://blog.jupyter.org/2016/04/15/notebook-4-2/

[2016-08-24 19:20] kirbs- commented on #21
I've been meaning to look into it again. When I originally created this extension Jupyter was still on 4.0.x. Back then installation through nbextension was painful for users and didn't support server extensions. As long as users can do a simple install/uninstall via a one line command I don't mind supporting an nbextension install.

As for you specific issue. If the callback isn't being triggered

[2016-09-21 01:21] #22 closed

[2016-09-24 20:54] SkyeHarris opened #24 "Hides code permanently"
- First of all, thanks for the tool! Was working great, but then for some reason it stopped code toggling.
- I click to show the code, but it does not reappear.
          - So the situation is that I can run the code, but can't see it, hence can't edit the code.
             Rebooted and so forth to no avail.

OSx 10.10
python35
notebook 4.2.3
ipython 5.1
jupyter 1

[2016-09-24 21:13] kirbs- commented on #24
What version of hide_code are you on? Also, if you open up your browser's console, do you see any error messages when clicking to show the code?

[2016-09-24 22:45] SkyeHarris commented on #24
Note: The notebook has two output cells. The top cell toggles, but the bottom output cell does not toggle. So I tried deleting the top output cell, no effect though.

hide_code version = 0.3.1

Don't see errors in console:

loaded custom.jsWatch%20List%20v7.ipynb:121:15
Default extension for cell metadata editing loaded.main.min.js:24136:9
Raw Cell Format toolbar preset loaded.main.min.js:24222:5

[2016-09-24 22:59] SkyeHarris commented on #24
fyi: I opened the notebook using ( double clicked)...
https://github.com/takluyver/nbopen

[2016-09-25 01:06] kirbs- commented on #24
Try deleting the metadata for the cell. Select the metadata cell toolbar, then remove any reference to hideXXX, and save the metadata. You may need to halt and restart the notebook to see any effect. This is a long shot though. I haven't come across the behavior you're seeing before.

[2016-09-25 02:08] SkyeHarris commented on #24
Did as directed. No 'hideXXX' found.

As a work around, I downloaded the notebook as  dot py file.
Then copy and pasted the py file code into a new notebook.
The problem has not reoccured.

Will notify, if reoccurs. Appreciate your help!

On Sat, Sep 24, 2016 at 6:06 PM, kirbs- <notifications@github.com> wrote:

[2016-09-25 02:16] SkyeHarris commented on #24
My mistake. I found 'hideXXX'. Restarted computer. No effect.

On Sat, Sep 24, 2016 at 7:08 PM, Skye - <skye.harris@gmail.com> wrote:

[2016-09-25 12:22] kirbs- commented on #24
Would you post the metadata from the cell you're having problems with? It sounds like the metadata was corrupted in some way and is causing hide_code to misbehave.

[2016-09-29 02:26] riedelcastro commented on #21
I think I have the same problem. When I run `require(['custom/hide_code']);` in the Chrome console I can see the hide_code toolbar, but without it I have no luck. Was there any solution to this?

[2016-09-29 22:37] kirbs- commented on #21
What version of jupyter and notebook are you using? I haven't been able to recreate this issue on my end. I think there's some Jupyter bug either not firing the 'app_initialized.NotebookApp' or not actually calling custom.js.  Would you try adding a simple `console.log('this works');` in the on block in custom.js? This would help identify where to start digging around within Jupyter.

[2016-09-30 00:19] SkyeHarris commented on #24
Kirbs,

Since we have communicated, I have created many iterations of the file.
Went thru past files. All are working. So don't know which to provide
metadata for.

On Sun, Sep 25, 2016 at 5:22 AM, kirbs- <notifications@github.com> wrote:

[2016-10-02 19:45] kirbs- commented on #24
No problem. Reopen this if you experience the problem again.

[2016-10-02 19:45] #24 closed

[2016-10-08 21:01] riedelcastro commented on #21
The version is 4.1.1. This is actually running in a docker image based on this dockerfile:

https://github.com/jupyter/docker-stacks/blob/master/scipy-notebook/Dockerfile.

Where do I find the relevant `custom.js`?

[2016-10-13 13:26] kirbs- commented on #21
Custom.js should be in static/custom in the notebook module directory. Use `python -c "python -c "import hide_code as hc; print(hc.Utils.get_notebook_module_dir())"` to find which notebook module hide_code is using.

[2016-10-13 17:23] riedelcastro commented on #21
I added the line, but based on the javascript console, it is never called.

[2016-10-15 13:45] kirbs- commented on #21
The only time I've seen this happen is in a virtualenv when the environment's variable shims get messed up. When this happens Jupyter actually loads custom.js from a different path even though http://localhost:8888.  I'll play with the docker image when I get some time.

[2016-11-04 14:15] LanDeQuHuXi opened #25 "cannot export"
I have go through the issues and the solutions are not working for me.
I know they should, as I'm encountering the same problem with them but in my case the notebook in not in level3 or above folders:

Pasting the error below:
[W 10:10:11.014 NotebookApp] 404 GET /notebooks/Untitled.ipynb/export/html (::1): No such file or directory: Untitled.ipynb/export/html
[W 10:10:11.017 NotebookApp] 404 GET

[2016-11-04 15:57] hrishikeshvganu commented on #25
+1.
I'm also facing the same error. Exporting using `jupyter nbconvert --to hide_code_html` works but exporting using buttons gives: 404 /file not found. My notebook is in ` root/folder1/notebook.ipynb`

[2016-11-04 21:51] kirbs- commented on #25
Check the first couple of lines from your console after starting Jupyter. Do you see both lines below?

[code]

[2016-11-04 23:07] LanDeQuHuXi commented on #25
hmm...I actually don't have these two lines.
Some installation problems? I actually have remove the package and reinstall it twice already.

[2016-11-05 13:04] kirbs- commented on #25
What was the output from `pip install hide_code`?

[2016-11-07 13:37] LanDeQuHuXi commented on #25
Installing collected packages: hide-code
Successfully installed hide-code-0.3.1

Except 'Requirement already satisfied' lines, I only got these two lines.

[2016-11-08 01:16] kirbs- commented on #25
Try reinstalling. The installation output should confirm the server extensions installed correctly.

[2016-11-09 17:38] hrishikeshvganu commented on #25
I tried reinstalling but get:
[code]

[2016-11-19 13:39] kirbs- commented on #25
Would you post the output from the code below?
`python -c "import hide_code; print hide_code.setup_info()"`

[2016-11-20 07:29] hrishikeshvganu commented on #25
I get following output:
[code]

[2016-11-20 14:11] kirbs- commented on #25
The exporting server extensions aren't loading in your setup. Try starting Juypter via the console using `jupyter notebook --NotebookApp.server_extensions="['hide_code.hide_code']"`.

[2016-12-05 23:51] JRocki commented on #23
I am having similar issues.  Really do like this though!

[2016-12-06 01:59] kirbs- commented on #23
Can you paste the output from Jupyter's console right after startup? It should look like below.
[code]

[2017-01-08 23:43] lum4chi commented on #23
Don't know if this can help: I experienced some trouble too loading this extension. I've been able to load this by forcing it in jupyter_notebook_config.json. It should appear something like:
{
  "NotebookApp": {
    "nbserver_extensions": {
      "jupyter_nbextensions_configurator": true,
      "hide_code.hide_code": true
    },
    "extra_template_paths": [
      "/Users/XXX/Library/Jupyter/temp

[2017-01-09 15:07] kirbs- commented on #23
Thanks! Are you able to export notebooks with code hidden too?

[2017-01-09 16:28] lum4chi commented on #23
Yes, but only when correct used cell checkboxes (<\> work only as preview) and, as required, notebook needs to be saved in order to export. PDF export works too, but page format is huge (code is small compared to page). Maybe is fault of an unknown configuration. Amy suggestion?

[2017-01-10 02:06] kirbs- commented on #23
I'll test this out. I've been meaning to support nbextension installation.

[2017-01-12 18:06] heitorlessa commented on #25
I'm new to Jupyter and starting from a fresh install I also experienced the same issue.

Running the command above makes the extension to be loaded but I still can't export the notebook via the buttons provided (404).

**Full Console Output**

[code]

[2017-01-12 19:14] lum4chi opened #26 "Error 500 when print(something) is present"
Hello, I cannot understand why it happen, but if I end a cell with a print('hello') for example and then export to html, I get error 500. Log shows:

    Traceback (most recent call last):
      File "/usr/local/lib/python3.6/site-packages/tornado/web.py", line 1467, in _execute
        result = method(*self.path_args, **self.path_kwargs)
      File "/usr/local/lib/python3.6/site-packages/hide_cod

[2017-01-12 22:19] kirbs- commented on #26
Strange. I'll look into it. Looks like your using Python 3.6. Are you using anaconda too?

[2017-01-12 22:23] kirbs- commented on #25
The `<directory>` above, is that something you modified?

[2017-01-12 22:30] heitorlessa commented on #25
That's right, it's a long personal directory that wouldn't add much value including it :)

On 12 Jan 2017, 22:24 +0000, kirbs- <notifications@github.com>, wrote:

[2017-01-12 22:34] kirbs- commented on #25
That's probably the cause. Check out #18 .

[2017-01-13 06:47] lum4chi commented on #26
No, virtualenv neither. I'm on Mac OS, brewed python and pip.

Edit: closing button pressed because slow reload on a touch screen ^^'

[2017-01-13 10:00] heitorlessa commented on #25
That was indeed the cause! I tried launching Jupyter in the same directory or 2 levels deep and worked out great.

Only minor issue is that I have to launch jupyter with ``--NotebookApp.server_extensions="['hide_code.hide_code']"`` otherwise it won't load.

Thanks!

[2017-01-13 16:46] kirbs- opened #27 "Support nbextension installation"
See #23. Need to update to support installation via nbextensions.

[2017-01-13 20:08] mktal opened #28 "Instructions on a clean uninstallation"
`pip uninstall hide_code` does not uninstall the extension from jupyter

[2017-01-16 14:27] lucasverra commented on #25
@kirbs- had the issue of 404 when exporting to html, `jupyter notebook --NotebookApp.server_extensions="['hide_code.hide_code']` solves it for me.

[2017-01-18 16:29] kmallick2000 opened #29 "neither button nor command working to hide code"
Thanks for writing the very useful code.
I am using 4.1.36-44 kernel on Leap 42.1. I can get the code to hide within Jupyter, but cannot get the code to hide in the output to html or pdf, either through command prompt or using the buttons. I get the error:

404 : Not Found

You are requesting a page that does not exist!

I tried putting the notebook file in the root directory of Jupyter and that d

[2017-01-18 17:15] kirbs- commented on #29
Try starting jupyter with `jupyter notebook --NotebookApp.server_extensions="['hide_code.hide_code']`

[2017-01-18 19:03] kmallick2000 commented on #29
I tried

`jupyter notebook --NotebookApp.server_extensions="['hide_code.hide_code']"`

and got

[code]
And now the icons for html and pdf etc have gone missing from the toolbar.

[2017-01-18 19:07] kirbs- commented on #29
You have a typo here `...f type 'unicode' (i.e. u"[hide_code.hide_code']") was specified.` Make sure the hide_code.hide_code is wrapped in single quotes. It should look like this `jupyter notebook --NotebookApp.server_extensions="['hide_code.hide_code']"`

[2017-01-18 19:29] kmallick2000 commented on #29
sorry about that.
now that command goes through and it opens jupyer notebook, but I don't see the icons to hide code, export to html and pdf etc.

[2017-01-18 19:54] kmallick2000 commented on #29
I tried the same in Windows 10 and I confirm that the export to html or pdf is not hiding the code.
Now if I can get the icons to show up in linux, I can try again there.

[2017-01-18 20:10] kirbs- commented on #29
Can you post pip's output when installing hide_code and the first 5-10 lines console lines when jupyter's console?

[2017-01-18 23:03] kmallick2000 commented on #29
I ran pip install code_hide again. This is the output:
[code]

Here is the output from starting jupyter notebook --NotebookApp.server_extensions="['hide_code.hide_code']"

[code]

[2017-01-19 00:17] kirbs- commented on #29
I don't see the hide_code's server extension getting loaded. You should this in the consoles first few lines.
[code]
Would you post the jupyter and notebook versions your using `pip list | grep 'jupyter'` and `pip list | grep 'notebook'`. Jupyter notebook release 4.3 about a month ago.

[2017-01-19 03:33] kmallick2000 commented on #29
Jupyter is 1.0.0 and note book is 4.3.1.

[2017-01-19 06:44] kmallick2000 commented on #29
I killed all running jupyter kernels and notebook processes. I restarted a jupyter notebook using

`jupyter notebook --NotebookApp.server_extensions="['hide_code.hide_code']"`

Here is the output and it seems the hide_code's server extension is getting loaded fine. But I don't see any of the icons for hiding code, export to html or pdf.
[code]

[2017-01-23 22:31] kirbs- commented on #29
Run `python -c "import hide_code; print hide_code.setup_info()"` You should get the output below if everything installed correctly.

[code]

If you don't see any export buttons on the toolbar the `Custom JS contents:` section may be blank.

[2017-01-24 06:15] kmallick2000 commented on #29
Thanks again. Yes, you are right, I ran
python -c "import hide_code; print hide_code.setup_info()"

and Custom JS contents is indeed blank. How come it is missing and how can I get it back?

[2017-01-24 13:17] kirbs- commented on #29
Try running `python -c "import hide_code.hide_code as hc; hc.install()"`

[2017-01-24 15:46] kmallick2000 commented on #29
I am sorry, still no luck. Here is the output from running `python -c "import hide_code.hide_code as hc; hc.install()"`

[code]

I checked and Custom.js is showing in the /home/kaushik/.jupyter/custom folder.

[2017-01-24 20:47] kirbs- commented on #29
hide_code is installing itself in `/home/kaushik/.jupyter/custom`, but the installer doesn't see a custom.js file. Do you see this file in `/<installation dir>/static/custom/`? Where `<installation dir>` is the same installation directory from `python -c "import hide_code; print hide_code.setup_info()"`

[2017-01-24 22:13] kmallick2000 commented on #29
I am providing the output of `python -c "import hide_code; print hide_code.setup_info()"` below. And yes I see a custom.js in home/kaushik/anaconda2/lib/python2.7/site-packages/hide_code.

What can I do?

[code]

[2017-01-25 01:11] leeclemmer commented on #26
Ran into the same exact problem. Having a print statement in the code starts generating 500 errors. Also on Mac OS. No virtualenv.

`Uncaught exception GET /notebooks/Community/Print.ipynb/export/html (::1)
    HTTPServerRequest(protocol='http', host='localhost:8888', method='GET', uri='/notebooks/Community/Print.ipynb/export/html', version='HTTP/1.1', remote_ip='::1', headers={'Accept-Language':

[2017-01-25 01:14] kirbs- commented on #29
Basically what's happening is the pip installation isn't installing hide_code into your conda environment. Running `python -c "import hide_code as hc; hc.install('/home/kaushik/anaconda2/lib/python2.7/site-packages/notebook/static/custom')"` may take care of it.

[2017-01-25 01:15] leeclemmer opened #30 "Enhancement request: hide all code by default"
Would be great if I could just export/convert notebook to html/pdf and have option to hide all code/prompts globally, instead of having to set which cell to hide cell by cell.

[2017-01-25 01:51] kmallick2000 commented on #29
Thanks! Yes your suggestion now brings back the icons for hide code, export to html and pdf back. But now back to the original problem. Hide code button works. But the export to html and pdf gives Page 404 error. Bummer!

[2017-01-25 13:47] kirbs- commented on #30
Yeah, this is on the enhancement list. I'll add it to the next release.

[2017-01-25 13:50] kirbs- commented on #26
@lum4chi @leeclemmer would you post the version of Jupyter and notebook your running?

`pip list | grep jupyter && pip list | grep notebook` should do the trick.

[2017-01-25 14:00] kirbs- commented on #29
Did you start juypter using `jupyter notebook --NotebookApp.server_extensions="['hide_code.hide_code']"` from inside your conda environment?

[2017-01-25 14:41] lum4chi commented on #26
jupyter (1.0.0)
jupyter-client (4.4.0)
jupyter-console (5.0.0)
jupyter-contrib-core (0.3.0)
jupyter-contrib-nbextensions (0.2.3)
jupyter-core (4.2.1)
jupyter-highlight-selected-word (0.0.7)
jupyter-latex-envs (1.3.6)
jupyter-nbextensions-configurator (0.2.3)
notebook (4.3.1)

[2017-01-25 15:29] kirbs- commented on #26
Looks like the 5.0 version of nbconvert changed its API. Until I get this patched you can downgrade nbconvert to 4.3.0 to get hide_code exporting to work.
`pip install 'nbconvert==4.3.0' --force-reinstall`

Also, what version of nbformat are you using?

[2017-01-25 15:40] lum4chi commented on #26
nbformat                          4.2.0

[2017-01-25 16:08] kmallick2000 commented on #29
OK, I did `jupyter notebook --NotebookApp.server_extensions="['hide_code.hide_code']" `and I can hide the code fine, but exporting to html generates the html file but the code is visible.

[2017-01-25 16:46] leeclemmer commented on #30
Awesome, thanks! Much appreciated :)  Maybe to be a bit more specific: it be great if in the notebook I could see all the code, but when exporting it's all hidden. Thanks!

[2017-01-25 17:23] kirbs- commented on #29
Did you save the workbook before exporting?

[2017-01-25 17:50] kmallick2000 commented on #29
Yes, I did save.

[2017-01-25 19:24] kirbs- commented on #29
Would you post the output from Juypter's console when the 404 error happens?

[2017-01-25 20:46] kmallick2000 commented on #29
[code]

[2017-02-09 09:40] allenwoods opened #31 "Output latex file"
Thank you for this great extension! Is there any convinent way to export the latex file used to generate pdf? The raw tex file is useful when writing a report.

[2017-02-09 13:03] kirbs- commented on #31
I believe nbconvert supports latex exporting. I'll take a look and add this into the next release.

[2017-02-10 00:02] jykim opened #32 "Hotkey for code show/hide?"
It would be great to have a Hotkey for code show/hide.

For now, I'm trying to use 'Keyboard shortcut editor' extension to assign a hotkey, yet I can't seem to find the command on the list.

Thanks again for great plugin!

[2017-02-10 00:05] jykim opened #33 "nbconvert hide_code_html doesn't work"
I get these warnings and the resulting file still shows the code.

Any suggestions?

$ jupyter nbconvert --to hide_code_html --execute ./MDT\ -\ prod.ipynb
[NbConvertApp] WARNING | Config option `template_path` not recognized by `HideCodeHTMLExporter`.  Did you mean one of: `template_extension, template_file`?
[NbConvertApp] Converting notebook ./MDT - prod.ipynb to hide_code_html
[NbConvertApp] E

[2017-02-10 00:47] kirbs- commented on #33
What version of nbconvert are you using?

[2017-02-10 00:47] kirbs- commented on #32
I like it. I'll add it to the to do feature list.

[2017-02-10 00:57] jykim commented on #33
I'm using 4.2.0, installed via pip.

- Jin Young Kim

On Thu, Feb 9, 2017 at 4:47 PM, kirbs- <notifications@github.com> wrote:

[2017-02-10 21:02] kirbs- commented on #33
I haven't been able to replicate this issue. Do you have any custom configurations you're running?

[2017-02-11 05:06] jykim commented on #33
No, just default installation on Ubuntu / Conda 4.2.13.

- Jin Young Kim

On Fri, Feb 10, 2017 at 1:02 PM, kirbs- <notifications@github.com> wrote:

[2017-02-12 01:12] linas opened #34 "export buttons don't work."
Clicking on the html export button gives a 404 not found. On the console:
[code]
As an utter jupyter newbie, I have no clue where to look for additional debug messages.

OS is Debian testing.

[2017-02-12 14:38] kirbs- commented on #34
Sounds like the server extensions didn't install properly. Try starting Jupyter with `jupyter notebook --NotebookApp.server_extension="['hide_code.hide_code']"`.

[2017-02-12 14:46] kirbs- commented on #33
The only thin I can think of is maybe a bad/corrupted install. The error message you posted indicates `template_path` is not recoginized. Check your [HideCodeHTMLExporter](https://github.com/kirbs-/hide_code/blob/9f0943cc4ab5fd33764a6bba59241044a6d92490/hide_code/hide_code_html_exporter.py#L23-L28) class, you should see the template_path property defined there.

[2017-02-13 05:35] kmallick2000 commented on #29
any resolution on this yet?

[2017-02-13 19:45] linas commented on #34
I did have some install problems when installing hide_code: some dependency was missing; after fixing that, and installing hide_code a second time, the install error messages went away.  It is possible that hide_code is still improperly installed, though; I don't know how to check.

Starting the notebook as you suggests prints the following messages:
[code]

So I tried again with `server_extension

[2017-02-13 19:54] linas commented on #34
FWIW, the above is with Debian `testing`. `jupyter-notebook --version` prints 4.2.3

[2017-02-13 22:30] kirbs- commented on #34
That's helpful. Installation problems like yours should go away in the next hide_code release when nbextensions supported.

[2017-02-13 22:30] #34 closed

[2017-02-13 22:34] kirbs- commented on #28
Looks like pip doesn't support uninstall hooks so there will be some hide_code remnants after uninstalling. in the 0.4 release, nbextensions is supported. I'll handle removing the files pip doesn't during the upgrade process.

[2017-02-21 06:12] coljac commented on #29
I'm another Anaconda user with the same issues - I followed all the advice here and got the buttons to show up, but no "hide code" selections are being respected with regards to the output.

[2017-02-21 13:40] kirbs- commented on #26
@lum4chi I think this is resolved with nbconvert 5.1.1. Would you upgrade and see if the issue is resolved on your end?

[2017-02-22 09:02] lum4chi commented on #26
Hello, I can't confirmed because I've upgraded again some other packages and now hide_code toolbar nor buttons show up and another installation of the plugin cause no effect ^^'. I'm sure have some misconfiguration made by me and need time to investigate.
I'm hoping for nbextension integration :D

[2017-02-23 08:44] MikeHigginbottom commented on #29
Same issue as coljac. If I hide code via the cell toolbar or via the buttons on the main toolbar and then diff the output html with the html generated when the code was showing there are no differences. The buttons do function as expected on screen though. It seems to be just a problem with the exported data files (html and both pdf forms).

[2017-02-24 00:53] npyoung commented on #29
+1 for the "code gone on screen, but not in output" issue. Python 3.5.1, Jupyter 4.2.1. Added
`"hide_code.hide_code": true` to my `jupyter_notebook_config.json` to get around the 404 error, but now I get a PDF that's full of code, even though the code disappears in the browser when using the notebook.

[2017-02-24 01:18] kirbs- commented on #29
@coljac @MikeHigginbottom @npyoung would you post the version of nbconvert you're using?

[2017-02-24 01:29] kirbs- commented on #29
Also, this extension prints some stuff in Jupyter's console during the export process. Do you see any error messages?

[code]

[2017-02-24 02:38] npyoung commented on #29
[code]

[code]

[2017-02-24 08:50] MikeHigginbottom commented on #29
4.2.0 with no errors:
[code]

[2017-02-24 13:53] kirbs- commented on #29
That's helpful. Please check the metadata for your notebook. Select "Edit Metadata" as the cell toolbar, pick a cell with the code hidden, then click on the "Edit Metadata" button. Do you see JSON similar to this:

[code]

[2017-02-24 15:54] MikeHigginbottom commented on #29
With the code hidden there is no Edit Metadata button showing. With the code showing the JSON is empty.

[2017-02-24 17:25] npyoung commented on #29
It doesn't look like you can see the "Edit Metadata" buttons on hidden cells. Unhidden code cells have
[code]
I also tried hiding the code, saving, and looking at the raw notebook json - no "hideCode" key in the metadata there either.

[2017-02-24 23:04] kirbs- commented on #29
Good, making some progress. What version of notebook are you running?

[2017-02-24 23:09] MikeHigginbottom commented on #29
` jupyter notebook --version` gives `4.3.1` for me

[2017-02-25 01:04] kirbs- commented on #29
Tested with notebook 4.3.1, and not seeing any issues. Not sure why this is happening. The cell metadata isn't being written for some reason on your setup. Exporting depends on the metadata to render correctly. Are there any error messages in the console?

[2017-02-25 10:19] MikeHigginbottom commented on #29
I'm gonna take a stab in the wild dark then and suggest it might be a path issue (it's always a path issue). Can you give us a rough idea of what is supposed to live where? No errors in the console by the way.

[2017-02-25 14:54] kirbs- commented on #29
I've got the next version ready on the dev branch. Maybe that will take care of these issues. The dev version uses nbextension installation instead of bootstrapping custom.js and jupyter config files. To install:
1. `pip install git+https://github.com/kirbs-/hide_code.git@dev`
2. `python -c "import hide_code; hide_code.uninstall_bootstrapped_files()"`
2. `jupyter nbextension install --py hide_code

[2017-02-25 19:12] MikeHigginbottom commented on #29
Followed those steps (I think step 5 should be `serverextension` rather than `server_extension` btw). Metadata and buttons are now present for hidden code as you described earlier. Existing notebooks still don't hide code on export. Not sure if that behaviour is expected or not. New notebooks seem to work fine now though. Consider this closed with thanks from my perspective.

[2017-02-25 19:58] kirbs- commented on #29
Thanks, fixed the typo. Still not sure what is caused the first issue. Sounds like either hide_code or notebook JS is corrupting/mangling the cell metadata. When upgrading hide_code, Jupyter and its dependencies is also upgraded to the latest version. Anyhow, glad this is resolved.

@kmallick2000 @npyoung @coljac do the instructions above fix your issue too?

[2017-02-25 21:10] coljac commented on #29
I performed the following steps:

- Deleted ~/.jupyter
- Created new conda environment
- Ran the install instructions as above (with `--sys-prefix`)
- Restarted jupyer

At this point, the toolbar was there, and the edit metadata button persists when I hide the code, with `hideCode: true` visible when hidden. Positive.

Trying to export gives me a 404:

`404 GET /notebooks/aes/test.ipynb/export/htm

[2017-02-26 22:27] #27 closed

[2017-02-26 22:27] #28 closed

[2017-02-26 22:27] #29 closed

[2017-02-26 22:28] #32 closed

[2017-02-26 22:29] kirbs- commented on #33
Would you test with version 0.4?

[2017-03-02 20:07] julionaojulho opened #36 "Code cells not hiding when exporting to slides"
Hi, thanks for this awesome extension, it is just what I needed.

It works pretty well with another amazing extension, RISE, however when I want to export it to slides, it doesn't properly hide the input cells.

I use the following command to perform the conversion

Do you have any ideia or any suggestion regarding this issue?

Thanks!

[2017-03-05 03:57] kmallick2000 commented on #29
Sorry, checking in late.
I confirm that the solution proposed by coljac is working! Thanks a lot for fixing it and for the excellent extension.
The export to pdf still shows the 500 : Internal Server Error, but the Export ot pdf by Latex works for me. I am happy.

[2017-03-05 13:50] kirbs- commented on #36
Exporting to slides isn't supported right now. This extension will hide code/prompts/outputs PDF or HTML exports when using one of the custom exporters. Check out the [documentation](https://github.com/kirbs-/hide_code/wiki/Exporting). I'll add this to the to do list though.

[2017-03-06 12:07] iguana-luke opened #37 "Hide_code doesn't appear in View -> Cell Toolbar menu"
Hi,

First off, thanks for sharing the great tool. I hope to be able to enjoy it to produce nice & clean pdf notes. However, I ran into problems. I've installed the extension with no issues, restarted both the jupyter session and the browser but the hide_code toolbar still doesn't appear in the menu. I'm on OS X, Safari, anaconda, Python 2.7, nbconvert 4.2. What can be the problem?

Thanks in adva

[2017-03-06 12:11] julionaojulho commented on #36
Oh, I see.

Thank you very much for your answer. I'm looking forward for the implementation.

[2017-03-07 17:29] kirbs- commented on #37
Assuming you're using nbextensions to handle installation, what's the output of `jupyter nbextension list`?

[2017-03-07 18:40] iguana-luke commented on #37
Here it is:

`Known nbextensions:
  config dir: /Users/Lukasz/.jupyter/nbconfig
    notebook section
      hide_code/hide_code  enabled
      - Validating: OK
  config dir: /Users/Lukasz/anaconda/etc/jupyter/nbconfig
    notebook section
      hide_code/hide_code  enabled
      - Validating: OK`

[2017-03-31 10:58] jjjon opened #38 "Error exporting with changed notebook_dir"
Hello,

I have python 2.7.11-1 on Ubuntu 16.04 and ipython-2.4.1-1 and jupyter (pip-installed).

I changed `/home/user/.jupyter/jupyter_notebook_config.py` from:
`c.NotebookApp.notebook_dir = u''`
to
`c.NotebookApp.notebook_dir = u'/home/user/Workspace/Python'`
so that it starts in such folder automatically. However this seems to break hidecode. When exporting a notebook (for example, with html),

[2017-03-31 14:31] kirbs- commented on #38
What version of hide_code are you using and did you install via nbextensions?

[2017-03-31 16:23] jjjon commented on #38
Hello
`juan@PSU:~$ pip show hide_code
Name: hide-code
Version: 0.4.0
Summary: A Jupyter notebook extension to hide code, prompts and outputs.
Home-page: https://github.com/kirbs-/hide_code
Author: Chris Kirby
Author-email: kirbycm@gmail.com
License: MIT
Location: /usr/local/lib/python2.7/dist-packages
Requires: jupyter, pdfkit, nbconvert
`

I installed it executing:
`
pip install hide_code
jupyter

[2017-04-01 18:44] kirbs- commented on #38
Not sure what's wrong here. Hide_code is using Jupyter's paths to access the underlying .ipynb file. If you navigate to http://localhost:8888/notebooks/Untitled.ipynb does the notebook open up?

[2017-04-01 19:12] jjjon commented on #38
Yes, it does open. Have you confirmed the bug or is something affecting my installation solely?

[2017-04-01 19:41] kirbs- commented on #38
It's a bug. Looks like the jupyter method I'm using to find the underlying file is a relative path. I'll have to do some digging in Jupyter's documentation to find an alternative.

[2017-05-23 17:24] BoPeng commented on #30
Just a quick comment. I have tried to use hide code to generate better HTML output but found two problems (both are feature requests),

1. Hide input and output in HTML, not in Jupyter, because often times we need to perform the analysis with all visible input and output cells, but only want to show certain results in HTML report.
2. Hide all input and most output as default.
3. Allow unhiding hid

[2017-05-26 18:49] npyoung commented on #29
Confirming (finally) that the fix works for me, using v0.4.0 now.

[2017-05-27 12:57] kirbs- commented on #30
Thanks for the feedback! I'm going to get around to the enhancements some time this summer.

[2017-07-06 07:05] chansonZ commented on #33
**same issue**

Python 2.7.13 :: Anaconda 4.4.0 (64-bit)

pip install hide_code
Collecting hide_code
  Downloading hide_code-0.4.0.tar.gz
....
=====================================================
$ jupyter nbconvert --to hide_code_html xxxx.ipynb

[NbConvertApp] WARNING | Config option `template_path` not recognized by `HideCodeHTMLExporter`.  Did you mean one of: `template_extension, template_fi

[2017-07-10 12:29] kirbs- commented on #33
What version of nbconvert are you using?

[2017-07-12 08:10] chansonZ commented on #33
**5.2.1**
[root@localhost test]# jupyter nbconvert --version
5.2.1

[2017-07-12 16:40] kirbs- commented on #33
Checkout #26. This is due to a change in nbconvert 5.0. Downgrade the package and hide_code should work.
`pip install 'nbconvert==4.3.0' --force-reinstall`

[2017-07-12 16:47] kirbs- commented on #33
Also check out https://github.com/jupyter/nbconvert/issues/362.

[2017-07-17 21:54] alanamarzoev commented on #30
Hi! What's the timeline like for the release of this enhancement?

[2017-08-15 11:53] DavidNemeskey commented on #36
+1 for this feature.

[2017-08-24 09:16] olguri opened #39 "export error"
Hi,

I'm trying to export to a notebook to a html file with codes hidden.
But, it returned an error message, "500: illegal multibyte sequence".
Can anyone help with this matter?

Many thanks in advance.

[2017-08-24 09:21] #39 closed

[2017-09-16 03:24] felciano opened #40 "Hidden code is shown in HTML output regardless of visibility toggle"
I'm having trouble getting `hide_code` to work correctly. The controls seem to work correctly in the UI, and the code cells toggle visibility as expected. However when clicking the "Export to HTML" button, the resulting HTML file always includes the code cells and makes them visible.

I've confirmed I'm using nbconvert 4.3.0, in case that matters.

The log shows
[code]
Is it possible this is relat

[2017-09-20 13:02] kirbs- commented on #40
Is a new window/tab opening up? Also what happens if you use the command line version to export? e.g.`jupyter nbconvert --to hide_code_html notebook_to_convert.ipynb`

[2017-09-20 23:18] felciano commented on #40
When I try the command line version I see this error right away:
[code]

[2017-09-21 13:19] kirbs- commented on #40
That's helpful. The error message indicates nbconvert 5.x+ is being used instead of 4.3.

[2017-09-21 21:23] felciano commented on #40
Strange -- I already did this. Here's what I see if I try again:
[code]
This seems to confirm it:
[code]
Any suggestions on how to diagnose this further?

[2017-09-21 23:15] kirbs- commented on #40
I'll dig into nbconvert some more. Just to check the obvious, you're running Jupyter from the same virtualenv nbconvert 4.3.0 is installed on, correct?

[2017-09-22 15:11] hangyao opened #41 "Exporting to pdf via Latex can't hide code"
I successfully installed and run hide_code, however when exporting to pdf via Latex, the output pdf still show all code in cells.

My system is Windows 7 64-bit, and running Jupyter Notebook from Anaconda environment. hide_code was installed with pip.

Here is the output prompt:

[code]

It seems like there is an issue, but I don't know how to fix it.

Thank you!

[2017-09-24 13:21] kirbs- commented on #41
What version of Jupyter and nbconvert are you using?

[2017-09-25 13:43] hangyao commented on #41
@kirbs-
[code]

I set the code to be hidden by both clicking the ```Hide/show code``` button on toolbar, and using ```View -> Cell toolbar -> Hide Code``` menu.

[2017-09-25 21:22] hangyao commented on #41
@kirbs-  I don't know why but it works today. Thank you and I will close this issue.

[2017-09-25 21:22] #41 closed

[2017-09-28 13:58] kirbs- commented on #40
Would you try out the dev branch and see if resolves the issue?

[2017-09-29 18:04] lwasser commented on #40
Hey there! I am having the same issue with this library. It seems like the perfect solution to writing reports with jupyter notebook which i do with my students. It works for me sometimes and others it doesn't work. Help to help with the troubleshooting if I can post additional information.

[2017-09-29 18:05] wino6687 commented on #40
Hey everyone, I am also having this issue. Most of the time if I export to html after hiding either all of the code or some of the code, it still appears in the exported doc. I  managed to get one random export to work, but definitely not consistently. I would appreciate any help as this is a great addition to jupyter!

[2017-09-29 20:50] kirbs- commented on #40
@lwasser @wino6687 if you post some additional details I can help. Just please create a separate issue if you see a different error message after going through the steps above. Multiple topics in the same issue makes it difficult to manage the process.

The specific issue @felciano mentioned I think is resolved in the dev branch.

[2017-10-01 01:06] felciano commented on #40
Hi @kirbs- I'm trying to test it but no luck. Before I debug further, can you confirm that I'm installing from the right place:
[code]

[2017-10-01 13:11] kirbs- commented on #40
That looks fine to me. My dev environment isn't in sync with your listed above. I'll sync it up and see if there's a bug in a specific version of package.

[2017-10-01 13:27] kirbs- commented on #40
Also what version of notebook are you using?

[2017-10-02 16:43] felciano commented on #40
Using jupyter 4.3.0 (assume that is what you mean by notebook)

[2017-10-02 23:26] kirbs- commented on #40
Run `pip list | grep notebook`.

[2017-10-02 23:36] kirbs- commented on #36
@julionaojulho @DavidNemeskey this enhancement is available now in the dev branch if you want to test it out. I'll push the update to pypi in a couple of days.

[2017-10-02 23:36] kirbs- commented on #31
@allenwoods this enhancement is available now in the dev branch if you want to test it out. I'll push the update to pypi in a couple of days.

[2017-10-02 23:37] kirbs- commented on #26
@lum4chi @leeclemmer this is fixed now in the dev branch if you want to test it out. I'll push the update to pypi in a couple of days.

[2017-10-02 23:38] kirbs- commented on #33
@jykim @chansonZ this fix is now in the dev branch if you want to test it out. I'll push the update to pypi in a couple of days.

[2017-10-02 23:39] felciano commented on #40
Notebook 5.0.0

[2017-10-03 18:30] ant10484 opened #42 "500: Internal Server Error while exporting notebook."
Hi,
You have done an amazing job with hide_code. Thanks for that.

I am having 500 error whenever I try to export a notebook via the buttons on the notebook.
I am using nbconvert 4.3.0, python 3.6 and notebook 5.0.

I am able to export using the command below:
jupyter nbconvert --to hide_code_pdf notebook_to_convert.ipynb

It's just that I am unable to use the  buttons on the notebook to export as

[2017-10-04 01:08] p2ya commented on #42
I am experiencing the same issue, really appreciate if can help to resolve this

[2017-10-04 01:56] p2ya opened #43 "Images are not included in pdf export"
I sue the following code to show images in pdf.
However they just come up as OUT[*] in the pdf following a blank space.

from IPython.display import Image
Image(filename="image.jpg")

I really appreciate if I can get help to fix this.
Also if there is anyway to align the image in centre.

[2017-10-04 02:11] kirbs- commented on #42
Please post the output from the Jupyter console when you see the error. Also, check out the dev branch. The 0.5.0 release is just about ready. See if that fixes the issue.

[2017-10-04 02:14] kirbs- commented on #43
I'll check it out. Loading images this way should be fine. Also, please post the version of jupyter and notebook you're using.

[2017-10-04 02:19] p2ya commented on #43
I was able to add images using nbconvert before but left aligned but through this extension it stopped working.
I use following versions:
Jupyter 4.3.0
Python 2.7.13 :: Anaconda 4.4.0 (x86_64)

[2017-10-04 02:26] p2ya commented on #42
Also how can I install the dev version ?

[2017-10-04 02:40] p2ya opened #44 "Markdown with parameter not shown correctly"
I use %run to run a python code and define some universal parameters in notebooks.
Also using following in Markdown cells to grab defined parameters from code cells and show as markdown.

**Project:**
{{parameter.replace("_"," ").title()}}

This works nicely in both html and pdf format through nbconvert, but using this extension it comes out as:
Project: {{parameter.replace(“_“,” “).title()}}

How

[2017-10-04 02:44] kirbs- commented on #42
This looks like an issue with wkhtmltopdf. Does exporting to pdf latex work for you?

[2017-10-04 02:44] p2ya commented on #42
yes that one does work.

[2017-10-04 02:51] kirbs- commented on #42
Are you using a secure notebook? Looks like wkhtmltopdf is failing due to an SSL error.

[2017-10-04 08:41] ant10484 commented on #42
Hi,
Thanks for your prompt reply.
Below is my output whenever I try to save the notebook to pdf using the buttons on the notebook browser.
[I 14:06:22.579 NotebookApp] Kernel started: a508b75c-cc1f-48a6-9b90-c75f6b9ef838
[I 14:06:34.327 NotebookApp] hide_code: Starting PDF export for /Introducing_Python_Book.ipynb
[E 14:06:34.335 NotebookApp] Uncaught exception GET /notebooks/Desktop/pythonx/Intro

[2017-10-05 21:17] p2ya commented on #43
Hi Kirbs, did you have a chance to check this out ?

[2017-10-07 19:13] #38 closed

[2017-10-07 19:15] kirbs- commented on #31
This feature is available in version 0.5.0.

[2017-10-07 19:15] #31 closed

[2017-10-07 19:15] kirbs- commented on #26
This is fixed in version 0.5.0.

[2017-10-07 19:15] #26 closed

[2017-10-07 19:16] kirbs- commented on #33
This is fixed in version 0.5.0.

[2017-10-07 19:16] #33 closed

[2017-10-07 19:17] kirbs- commented on #36
This feature is available in version 0.5.0.

[2017-10-07 19:17] #36 closed

[2017-10-07 19:18] kirbs- commented on #40
@felciano would you upgrade to 0.5.0 and check?

[2017-10-07 19:19] kirbs- commented on #30
@alanamarzoev Should have this done in the next 4-5 weeks.

[2017-10-07 19:20] kirbs- commented on #37
Please upgrade to 0.5.0 and check.

[2017-10-07 19:21] kirbs- commented on #43
Looks fine when tested. Are you saving the notebook before attempting to export?

[2017-10-07 19:23] kirbs- commented on #42
Please upgrade to 0.5.0. I think this is related to #38.

[2017-10-09 00:57] p2ya commented on #42
I installed through:
pip install hide_code --upgrade

however the issue is still reoccurring

[2017-10-09 01:00] p2ya commented on #43
yes the notebook is saved but it doesnt show the images in the pdf.
Can you please show me an example of what you did which worked ?
Was it as a code and using:
from IPython.display import Image
Image(filename="image.jpg")
?

[2017-10-09 19:03] ant10484 opened #46 "404 Error while exporting to pdf"
Hi,

I have upgraded to hide_code 0.5.
My problem still persists in that I am able to export my notebook to pdf via the terminal.
But, the buttons on the jupyter notebook doesn't seem to work.
I get 404 error now, where previously I used to get 500 Error.

The following is my output:
[W 00:28:37.636 NotebookApp] 404 GET /nbextensions/widgets/notebook/js/extension.js?v=20171010002821 (::1) 16.01ms

[2017-10-09 22:28] p2ya opened #47 "Table of content"
This is not an issue but I want to know if we can include the table of content into the pdf conversion.
We have notebooks with TOC which is included in html format and interested to have that in the pdf format as well.

[2017-10-17 00:03] p2ya commented on #43
@kirbs- can I have your feedback on this ?

[2017-10-17 00:03] p2ya commented on #47
@kirbs- can I have your feedback on this ?

[2017-10-17 00:03] p2ya commented on #44
@kirbs- can I have your feedback on this ?

[2017-10-23 10:09] hugo-pires commented on #37
I have the same problem. Even after upgrade. Could you help me? Thank you

[2017-10-25 12:39] JuliaKannenberg opened #48 "Problems with uninstall hide_code"
Hi,
I tried the troubleshootings you suggested, but still get an 500 : Internal Server Error.

I want to uninstall hide_code, but I get another error message:
Starting hide_code.js removal...
No config directories contain "custom" folder. Trying Jupyter notebook module path...
Attempting to remove auto-loading for hide_code export handlers.
No hide_code server extensions to remove.

And in your wi

[2017-11-03 11:07] jojomale opened #49 "hide_code_latex doesn't work"
Hey, I love your code hiding tool. I works great in the Browser and I can also produce pdfs from the command line. But I would really like to have the tex-file as well. I used
jupyter nbconvert --to hide_code_latex notebook.ipynb
and
jupyter nbconvert --to hide_code_latexpdf notebook.ipynb
but this only spits out the following:
Traceback (most recent call last):
  File "/usr/local/bin/jupyter-nbco

[2017-11-04 23:05] kirbs- commented on #48
You should be able to `jupyter nbextension uninstall --py hide_code`. You'll need to add `--sys-prefix` if using conda or virtualenv.

[2017-11-04 23:08] kirbs- commented on #48
I've updated the uninstall wiki page. Thanks for pointing the typo out.

[2017-11-04 23:11] kirbs- commented on #47
hide_code will just extends Jupyter's native exporter. This should already work as log as you're adding the TOC to the notebook.

[2017-11-04 23:11] #47 closed

[2017-11-04 23:17] kirbs- commented on #46
I think this is a bug. Do you have a notebook directory manually configured?

[2017-11-04 23:26] kirbs- commented on #43
Do you change any of the default jupyter configuration options in jupyter_notebook_config.py? I can't replicate this on a fresh install of Jupyter and hide_code. Please attach a sample notebook demonstrating the issue.

[2017-11-04 23:29] kirbs- commented on #42
I'm closing this issue out since the 500 error is resolved.

[2017-11-04 23:29] #42 closed

[2017-11-04 23:32] kirbs- commented on #44
This is a bug/enhancement. I think I'm sanitizing text passed in to markdown cells as a security precaution. I'll take care of this in the next release.

[2017-11-04 23:42] kirbs- commented on #49
This is a bug. I'll get this fixed shortly.

[2017-11-04 23:43] kirbs- commented on #37
What does `jupyter nbextension list` show?

[2017-11-06 12:43] pmoris opened #50 "Bash magic output missing from HTML"
I can't seem to produce a HTML file with the output of a bash magic command.

My notebook only contains the following code cell.

[code]

Its output appears fine in the notebook, but disappears when I convert it to HTML. All hide_code tick-boxes are unchecked. Disabling the hide_code extension does show the output in the exported HTML file.

Any ideas?

[2017-11-06 15:55] hugo-pires commented on #37
`Known nbextensions:
  config dir: /home/hugo/.jupyter/nbconfig
    notebook section
      jupyter-js-widgets/extension  enabled
      - Validating: OK
      hide_code/hide_code  enabled
      - Validating: OK
  config dir: /home/hugo/anaconda3/etc/jupyter/nbconfig
    notebook section
      hide_code/hide_code  enabled
      - Validating: OK
`

[2017-11-09 07:47] ant10484 commented on #46
No, I haven't configured a directory. I store my notebooks under one directory 'my_notebooks' .

[2017-11-09 10:00] TMorville opened #51 "Compatibility issue with Python-Markdown when creating pdf"
When using[ Python-Markdown](https://github.com/Python-Markdown/markdown) to call variables in markdown cells and then using `jupyter nbconvert --to hide_code_pdf experian_report.ipynb` to compile pdf, variables are outputted as {{ var }} instead of the actual number.

In a code cell:
`a = 1.23 `

In a markdown cell:
`The result is {{ a }}`

Result in the markdown cell in notebook:
`The result is

[2017-11-09 12:55] kirbs- commented on #37
With Jupyter running on your local PC, open this url [http://localhost:8890/nbextensions/hide_code/hide_code.js](http://localhost:8888/nbextensions/hide_code/hide_code.js). Does the page load? The first few lines of the page should look like this:
[code]

[2017-11-09 12:58] kirbs- commented on #50
I'll take a look. It's probably a bug.

[2017-11-09 13:00] kirbs- commented on #51
This is a bug. I'm going to close this issues since it's already being tracked in issue #44.

[2017-11-09 13:00] #51 closed

[2017-11-09 13:34] hugo-pires commented on #37
The page loads correctly. The first lines look like that.

[2017-11-09 14:57] kirbs- commented on #37
Look like the plugin installed correctly, but isn't loading in your browser. If you open the web console in your browser, do you see any error messages when opening a notebook.

[2017-11-10 09:56] hugo-pires commented on #37
404 Not found
Request URL: http://localhost:8888/static/components/moment/locale/en-gb.js?v=20171110095335

[2017-11-12 22:39] p2ya commented on #43
Hi @kirbs- can I have your versions of jupyter and extension ?

[2017-11-26 13:47] joljols opened #52 "JSON error installing nbextension"
When I run the 3rd install command (after successfully running the first two commands) `jupyter nbextension install --py hide_code` I get the following error:

with the following traceback:

[code]

It would be great if you could fix this.

[2017-11-28 19:59] kirbs- commented on #43
notebook 5.2.0
jupyter 1.1.0

[2017-11-28 19:59] #48 closed

[2017-11-28 20:00] kirbs- commented on #40
I believe this is fixed now. Closing issue.

[2017-11-28 20:00] #40 closed

[2017-11-28 20:08] kirbs- commented on #37
The last thing you could try is `require(['nbextensions/hide_code'])` in your browser console with a fresh notebook tab open. This should force the web browser to reload the JS file.

[2017-11-30 18:38] maitrayeerb commented on #50
I have a similar problem. My python code output does not show up in HTML. Toggling the hide code button simply makes the code appear or disappear in HTML file but the output of the code does not show at all.

[2017-11-30 21:14] joljols commented on #52
Yes I followed steps 1 and 2 without a problem

[2017-12-02 22:18] kirbs- commented on #52
Never seen this error, but it looks like an issue with nbextension.

[2017-12-02 22:19] kirbs- commented on #50
I'll get this updated in the next release.

[2017-12-05 23:24] ZhijieWang commented on #37
For me the notebook is trying to load this link http://localhost:8888/nbextensions/hide_code.js?v=20171205151505

[2017-12-06 04:53] shahzeb1 commented on #37
@kirbs- I visit that url (http://localhost:8888/nbextensions/hide_code/hide_code.js) and hit a 404. Any way to get this working?

[2017-12-07 00:40] kirbs- commented on #37
@ZhijieWang I think notebook is loading the wrong url. The correct url should be http://localhost:8888/nbextensions/hide_code/hide_code.js

@shahzeb1 the screenshot is of a different plugin. You should see this output of `jupyter nbextension list`

[code]

[2017-12-07 00:42] kirbs- commented on #37
@ZhijieWang @shahzeb1 @hugo-pires

Can you try opening your web console and enter `require('nbextensions/hide_code/hide_code')` and post the results.

[2017-12-07 17:40] ZhijieWang commented on #37
I somehow get it to work by running the nb-extension setup command in both "sudo" and normal mode.

[2018-01-22 17:13] waio1990 commented on #49
Any update on this?

[2018-02-01 13:50] mattijn commented on #25
`NotebookApp.server_extensions` is deprecated. I'd to use `--NotebookApp.nbserver_extensions="{'hide_code.hide_code': True}"` to load the extension

[2018-02-05 04:58] fcui opened #53 "Error while exporting to html"
Hi,

I have installed hide_code 0.5. While exporting to html, I met an error as the following:
"500 : illegal multibyte sequence".
In the notebook, there are Chinese characters.

I'd really appreciate some help.

[2018-02-05 10:12] stef30360 commented on #46
Hello
 Thanks for your works , I,ve same problem.
regards
SR

[2018-02-05 19:22] PanditPranav opened #54 "code outputs for print command are not shown"
When I export the notebook using --to hide_code_html outputs for cells with print(variable) are not exported in the HTML, instead, there is black space in the HTML.

The problem persists even if I am not hiding the code for the cell.

[2018-02-05 20:26] kirbs- commented on #53
I'll check. There might be some character encoding at play here.

[2018-02-05 20:27] kirbs- commented on #52
What version of jupyter are you using?

[2018-02-05 20:29] kirbs- commented on #46
@stef30360 please post the console output from jupyter when this error occurs. ty

[2018-02-05 20:30] kirbs- commented on #54
I think this is related to #44. I'll get this fixed in the next release. Thanks for reporting!

[2018-02-05 20:34] stef30360 commented on #46
Hello,
here are...
[W 21:32:04.642 NotebookApp] 404 GET /notebooks/Dropbox/Kepler/KeplerSoft/_SOURCE_NOTEBOOK_.ipynb/KS_Soft.ipynb/export/pdf (::1): No such file or directory: Dropbox/Kepler/KeplerSoft/_SOURCE_NOTEBOOK_.ipynb/KS_Soft.ipynb/export/pdf
[W 21:32:04.644 NotebookApp] 404 GET /notebooks/Dropbox/Kepler/KeplerSoft/_SOURCE_NOTEBOOK_.ipynb/KS_Soft.ipynb/export/pdf (::1) 3.46ms referer=http:

[2018-02-05 20:47] stef30360 commented on #46
hi
I don't understand. When I go back to the file in the source folder, the pdf to latex export works (but without the graphics), however export pdf to html return a 500 error.

[2018-02-05 21:13] stef30360 commented on #46
yes , when I click on the referrer link, it works.  The root folder Jupyter doesn't contain Dropbox folder.

[2018-02-07 02:26] kirbs- commented on #46
@stef30360 just a stab in the dark, but after looking through the output you posted above. Is Jupyter is changing the file path from `http://localhost:8888/notebooks/Dropbox/Kepler/KeplerSoft/_SOURCE_NOTEBOOK_.ipynb/KS_Soft.ipynb` to `http://localhost:8888/notebooks/Dropbox/Kepler/KeplerSoft/SOURCE_NOTEBOOK.ipynb/KS_Soft.ipynb`? Notice the underscores on either side of SOURCE_NOTEBOOK are mising i

[2018-02-07 06:37] stef30360 commented on #46
I changed my file path and I run the code:
`import notebook.notebookapp as nb
app = nb.NotebookApp()
print(app.notebook_dir)`
result: /Users/srmac/Dropbox/Kepler/KeplerSoft/SOURCE_NOTEBOOK
it's a correct path,but I have still the error 404 on the three possible exports.

[W 07:35:59.461 NotebookApp] 404 GET /notebooks/Dropbox/Kepler/KeplerSoft/SOURCE_NOTEBOOK/KS_Soft.ipynb/export/pdf (::1): No suc

[2018-02-09 20:52] kirbs- commented on #46
Does this link export to pdf?
http://localhost:8888/notebooks/Dropbox/Kepler/KeplerSoft/SOURCE_NOTEBOOK/KS_Soft.ipynb/export/pdf

[2018-02-09 20:57] stef30360 commented on #46
Hello,
Sorry the link doesn't work .

 localhost 8888 notebooks Dropbox Kepler KeplerSoft SOURCE NOTEBOOK Soft ipynb export pdf.
ERR_CONNECTION_REFUSED

[2018-02-13 10:29] pixelindigo commented on #46
Same thing. jupyter:4.4.0, hide_code:0.5.0
Jupyter is started from the same dir as report.ipynb
[code]

[2018-02-13 13:05] kirbs- commented on #46
@pixelindigo thanks, forgot to have the other check this. 404 errors make sense now.

[2018-02-13 13:09] kirbs- commented on #46
@stef30360 check hide_code is enabled as a server extension. Run `jupyter serverextension list`.
You should see an output similar to below.
[code]

[2018-03-22 09:38] mikheyev opened #55 "--to hide_code_slides"
Does this feature work? #36 is closed suggesting that it should be possible to export slides, but I get an error `ModuleNotFoundError: No module named 'hide_code.HideCodeSlidesExporter'` when I try to run `jupyter nbconvert  --to hide_code_slides`

[2018-03-23 13:45] kirbs- commented on #55
It should. What version of jupyter and nbconvert are you on?

[2018-03-23 22:02] mikheyev commented on #55
Jupyter: 4.4.0
nbconvert: 5.3.1
I re-installed them, but still get the same error.

[2018-03-23 22:05] mikheyev commented on #55
One thing that does work now is the Hide Code -> Slides Export function, just not the direct nbconvert command.

[2018-03-26 14:49] mourikwa commented on #55
@mikheyev
Perhaps you have multiple python environments and you haven't yet activated the python environment in which you installed this extension?

[2018-03-27 04:06] xxxspy commented on #53
Error happened  when uri contain non-latin-1 characters:
[code]

[2018-03-28 17:31] kirbs- commented on #55
I'm stumped by this one. nbconvert and Jupyter's web UI use the same underlying code so the CLI should work. Are you using Anaconda or virtualenv?

[2018-04-08 22:29] mikheyev commented on #55
I am using virtualenv

[2018-04-09 15:52] neozty commented on #54
Observe the same issue in version 5.0, it was good in version 4.0

[2018-04-10 14:15] silentsnooc opened #57 "PDF export: nbconvert failed: '.../Untitled.ipynb' exists but is not a directory"
I've installed `hide_code` as instructed but ever since I am getting

[code]
I am using Jupyter 4.4.0 and 0.5.0 of hide_code.

[2018-04-10 14:18] silentsnooc commented on #57
Nvm, this was a Jupyter bug

[2018-04-10 14:18] #57 closed

[2018-04-10 17:10] quantransform opened #58 "Pandas"
When I use the following to convert the notebook to PDF, all the pandas tables are not shown - no matter it's in pandas output directly or to_html or use Latex(df.to_latex()).

jupyter nbconvert --to hide_code_pdf notebook_to_convert.ipynb

Any idea how to fix this?

[2018-04-13 21:36] kirbs- commented on #58
Taking a look now.

[2018-04-13 22:55] kirbs- commented on #44
I don't see this markdown parameter feature in Jupyter. Are you using python-markdown nbextension?

[2018-04-13 22:56] #46 closed

[2018-04-13 22:57] #43 closed

[2018-04-13 22:58] #37 closed

[2018-04-13 22:59] #52 closed

[2018-04-13 23:07] kirbs- commented on #55
This is fixed. I forgot to expose the slides exporter to nbconvert CLI.

[2018-04-13 23:09] kirbs- commented on #49
Fixed in version 0.5.1.

[2018-04-13 23:31] kirbs- opened #59 "Only hide code in export output"

[2018-04-16 08:05] quantransform commented on #58
Thanks @kirbs-. It works now for pandas object. For to_html, it remains as <IPython.core.display.HTML object> instead of showing the table as seen on notebook. I guess this is expected?

[2018-04-16 13:08] kirbs- commented on #58
I'll take another look.

[2018-04-30 21:31] aramhamidi commented on #43
I am having the same problem and I am also using the following lines of code:

from IPython.display import display
img=Image(filename = fileSaveLocation, width = 400,height = 400)
display(img)

JupyterLab 0.31.5
Notebook 5.4.0
OS: windows 10
Anaconda 1.8.3

[2018-05-12 02:19] lwx5924 opened #61 "It cannot work in MacOs"
Hi, after I Install hide_code as following step:

    pip install hide_code
    jupyter nbextension install --py hide_code
    jupyter nbextension enable --py hide_code
    jupyter serverextension enable --py hide_code

I try to export PDF, but it still has "Code" in output.

then I go to
http://localhost:8888/nbextensions?nbextension=hide_code/hide_code.

I found there was a warning below:

-----

[2018-05-29 06:00] valentas-kurauskas opened #62 "<title>Notebook</title>"
Thanks for your useful work! When exporting to HTML Jupyter 5.4.1 puts the correct title, however when exporting via the plugin button (I installed via pip) gives

    <title>Notebook</title>

Also when using "Download as.." for a notebook named with spaces, e.g. "x y z.ipynb", it suggests a correct name "x y z.html", while the plugin suggests "x.html".

[2018-05-30 16:54] elliottmcollins commented on #61
Sadly, it looks like this extension only works on Linux machines. Can anyone confirm?

[2018-06-01 02:50] adalee2future opened #63 "Cannot install 'terminado'"
When `pip install hide_code` using jupyter in mac, error raised

<img width="1440" alt="2018-06-01 10 50 12" src="https://user-images.githubusercontent.com/7373750/40818439-9d3f0176-6589-11e8-98d3-dc72b02bb0f9.png">

[2018-06-01 14:58] kirbs- commented on #61
It should work fine. I'l take a look.

[2018-06-01 14:59] kirbs- commented on #62
I'll take a look.

[2018-06-01 15:01] kirbs- commented on #63
What version of pip are you using? This may be an [issue with the new version of pip](https://github.com/pypa/pip/issues/5247).

[2018-06-01 15:04] kirbs- commented on #61
Please run `jupyter nbextension list` and `jupyter serverextension list` and post the output.

[2018-06-03 15:56] GregSilverman commented on #61
I'm on Mac OS too, getting the same warning as noted above.

Output for `jupyter nbextension list` is:

`Known nbextensions:
  config dir: /Users/gregsilverman/.jupyter/nbconfig
    notebook section
      jupyter-js-widgets/extension disabled
      beakerx/extension  enabled
      - Validating: OK
      nbextensions_configurator/config_menu/main  enabled
      - Validating: problems found:

[2018-06-04 12:43] kirbs- commented on #61
@GregSilverman please post the console output when you try to export via a notebook.

[2018-06-04 19:04] GregSilverman commented on #61
Here it is from when I try to export HTML directly from the notebook (that is, not via the command line)"

[code]

and here is when I try to export as PDF:

[code]

[2018-06-04 20:39] elliottmcollins commented on #61
@kirbs- , I got it installed (unrelated pip issue), but when hide_code is enabled, notebooks can't open, returning **500: Internal Server Error** instead. I don't know if this is an OSx issue, but it's definitely an issue.

The console output when opening a notebook is:

`[I 13:15:26.247 NotebookApp] [nb_conda_kernels] enabled, 5 kernels found
[I 13:15:26.385 NotebookApp] hide_code: Attempting to

[2018-06-04 20:41] elliottmcollins commented on #61
@kirbs- , I got it installed (unrelated pip issue), but when hide_code is enabled, notebooks can't open, returning 500: Internal Server Error instead. I don't know if this is an OSx issue, but it's definitely an issue.

The console output when opening a notebook is:

[2018-06-04 21:35] elliottmcollins commented on #63
@adalee2future , the distutils issue is a general problem with pip. It comes up if any dependencies were installed with distutils, which doesn't record metadata that pip considers necessary for safely updating those packages. This is particularly problematic for Anaconda users.

The workaround I used was:
    `pip install --ignore-installed hide_code`

(P.S. hide_code results in a 500 server error

[2018-06-04 23:47] GregSilverman commented on #61
Interesting @elliottmcollins. Mine works fine when hide_code is enabled (that is, my notebook open up in the correct state I had previously saved it in). I'm using Mac OS 10.12.6, Jupyter version 5.4.1 and nbconvert 5.3.1.

[2018-06-05 00:16] elliottmcollins commented on #61
I'm using macOS 10.13.2, Jupyter 4.4.0, and nbconvert 5.3.1

Any chance you had to include the --ignore-installed option when installing
hide_code via pip?

On Mon, Jun 4, 2018 at 4:47 PM, Greg Silverman <notifications@github.com>
wrote:

[2018-06-05 00:20] GregSilverman commented on #61
Nope, I did the install, verbatim, as outlined in the README.

[2018-06-05 01:07] kirbs- commented on #61
@elliottmcollins 500 errors usually indicated the server extension isn't enabled. Verify with `jupyter serverextension list`; you should see the status in the output.

[2018-06-05 01:14] kirbs- commented on #61
I think the warning you two are seeing is due to using the old jupyter_contrib_nbextensions. @GregSilverman I see the plugin listed in the output from `jupyter nbextension list`. @elliottmcollins do you have this plugin enabled too?

You can safely ignore the warning. It won't affect hide_code usage. It only means the web UI the extension provides won't work with hide_code.

[2018-06-05 01:19] kirbs- commented on #61
@elliottmcollins the 404 you're seeing is because the export route is messed up. Try reopening the notebook (don't worry about restarting the kernel). This should reset all the exporting routes.
[code]
You can also try opening http://localhost:8888/notebooks/development/python/mb_analysis/mb_latest.ipynb/export/pdf and see if it exports a PDF correctly.

[2018-06-05 01:32] GregSilverman commented on #61
@kirbs-,
I have reopened and restarted Jupyter a whole bunch of times and I keep getting the 404 error. The URL you gave also does that. I am content with doing this from the command line, so no rush.

[2018-06-05 15:50] kirbs- commented on #61
@GregSilverman 404 errors usually boil down to jupyter can't find the ipynb file. Is development/python/mb_analysis/mb_latest.ipynb a valid path from the root jupyter directory. i.e. can you navigate to the file from the directory view when jupyter notebook first launches?

Also checkout issue #18. I keep forgetting to add this quirk in configuration to the wiki.

[2018-06-06 01:49] GregSilverman commented on #61
Yes ~/development/python/mb_analysis/mb_latest.ipynb is a valid path. Issue #18 however looks like it could potentially apply to my situation, since the absolute path is /Users/gregsilverman/development/python/mb_analysis/... again, I am not too concerned, since I have a workable solution by doing this at the command line.

[2018-06-14 19:46] ANazaret commented on #61
I had the same error. I found a way to avoid the error but not to fix it (the PDF export won't work).
Since module 'hide_code' has no attribute 'HideCodeLatexPDFExporter', just add it.

Go to the "hide_code" package installation folder
 - for me it's /usr/local/lib/python3.5/dist-packages/hide_code
 - for you it seems to be /home/dans/projects/Daily_Instrument_Review/DIR/lib/python3.6/site-package

[2018-06-15 15:02] kirbs- opened #65 "Latex PDF exporting is broken"
HideCodeLatexPDFExporter doesn't actually exist. Need to create the class as an extension of HideCodeLatexExporter.
https://github.com/kirbs-/hide_code/blob/a5a76d43d25ce84603052bc2fb871b987aab95f4/setup.py#L97

[code]

[2018-06-15 15:06] kirbs- commented on #61
@ANazaret @damageboy I found the culprit. I never implemented HideCodeLatexPDFExporter, but added a reference to it in setup.py. I've created issue #65 to separate this bug from the installation issues.

[2018-06-15 15:06] #61 closed

[2018-06-20 03:28] lordflaron opened #67 "404 Error with working extension"
Hi,

Thank you for the awesome contribution!

When exporting to PDF from HTML or PDF from Latex, a 404 Error is given. Checking the Jupyter console at startup shows that hide_code is loaded and running ``jupyter nbextension list `` shows that the extension is loaded and validated.

[2018-06-20 03:35] lordflaron commented on #67
404 error resulted from not having wkhtmltopdf installed. Sorry for the trouble...

[2018-06-20 03:35] #67 closed

[2018-08-15 13:08] mpschr opened #68 "404 : Not Found. You are requesting a page that does not exist!"
First off, kudos for the plugin! Should really go into the main repository.

In any case, I installed the hide_code for my jupyter notebook and run into a problem when I want to export. I get redirected to a page which only says:

    404 : Not Found
    You are requesting a page that does not exist!

The installation was done using the `--user` flag without any kind of error message:

[code]

Fir

[2018-09-01 02:44] matanster opened #69 "How to hide all code without marking cell by cell?"
is that possible? very helpful for exporting without code while working _with_ code without setting your hair on fire.

[2018-09-24 14:14] kirbs- commented on #68
@mpschr Sorry for the delay! 404 errors are usually happen when the path to the notebook on the underlying OS is different than Jupyter is expecting. Post Jupyter's console output when the error occurs. It should show the full path of the file it's trying to open.

[2018-09-24 14:15] kirbs- commented on #69
The </> button on the toolbar does exactly that!

[2018-09-24 14:15] #69 closed

[2018-09-27 16:51] chaltik commented on #41
I have this issue on Ubuntu 16.04 and it does not go away (latest install of nbextensions, TexLive and  TexLive-xetex. A hack solution I found on stackoverflow is to use the "Print..." menu in the browser. Works like a charm. But the issue seems to be real.

[2018-10-05 23:42] kirbs- commented on #68
It's probably one of two things:
1. export routes didn't load correctly. You can test this by restarting jupyter and going directly to ttp://localhost:8888/notebooks/export/latexpdf.
2. Jupyter's notebook directory is different from the working directory it's launching from. To verify this one, do you see any logs showing the export started? e.g `hide_code: Starting Latex PDF export for ...`

[2018-10-09 22:01] lordflaron commented on #68
Hi,
Sorry for the slow reply.
1. Going directly to ```ttp://localhost:8888/notebooks/export/latexpdf``` gave me the 404 error.
2. It may have been an update that was pushed today, but the exporting actually works now, not sure what did it (both html -> pdf and latex -> pdf)

[2018-10-10 13:22] kirbs- commented on #68
ok, i'll close this for now. Reopen if the problem resurfaces.

[2018-10-10 13:22] #68 closed

[2018-11-20 11:51] furvusEques opened #70 "404: Not Found"
Hello,

I had been using hide_code successfully last week and then must have done something to break it. Here is the output I get when I try to hide all code and export to html

[I 06:42:53.318 NotebookApp] Kernel started: 5b7e89c3-b988-4d25-abdb-a5614e3e8ef3
[I 06:42:53.957 NotebookApp] Adapting to protocol v5.1 for kernel 5b7e89c3-b988-4d25-abdb-a5614e3e8ef3
[I 06:43:20.236 NotebookApp] Starting

[2018-12-04 13:58] kirbs- commented on #70
Hey @furvusEques sorry for the delay. Checkout #18. I think this due to your file being a several folders deep from your Jupyter root directory.

[2018-12-05 13:21] furvusEques commented on #70
I started it from the same directory and it worked. Thanks for the help and the very useful tool!

[2018-12-05 13:21] #70 closed

[2018-12-06 14:10] chmduquesne opened #71 "pip install error (No such file or directory: 'LICENSE')"
Hi,

When running `pip install hide_code`, I run into the following error:

    Collecting hide_code
      Using cached https://files.pythonhosted.org/packages/04/5b/e0512cf6e62c80c305add427bae8808001163909419e158e92d8c7e4012f/hide_code-0.5.2.tar.gz
    Requirement already satisfied: jupyter in ./venv/lib/python3.5/site-packages (from hide_code) (1.0.0)
    Requirement already satisfied: pdfkit in

[2018-12-06 17:11] otisreid commented on #65
I was wondering if there was any hope that this would get repaired soon -- it would be great to have this back!

[2018-12-13 00:35] lwasser commented on #71
+1 i had the same issue installing! but it generally works!

[2018-12-13 00:39] lwasser opened #72 "Hide code export issues"
Hi there!
This is a really great package. I'm having some export issues. Here is what i tried
-  when i click on the export buttons for pdf, html  etc i get a page not found error
<img width="757" alt="screen shot 2018-12-12 at 5 37 12 pm" src="https://user-images.githubusercontent.com/7649194/49907715-a84a5b80-fe34-11e8-81e9-bc77d9d09777.png">
NOTE: this error is fixed if i launch jupyter from th

[2018-12-13 00:40] lwasser commented on #70
oh i just posted a similar issue. i'll try to launch from that directory now...

[2018-12-15 19:06] windnage commented on #72
I am also seeing this issue, however, even when I launch jupyter from the directory where the notebook lives, I still get a 404 not found error.

[2018-12-17 19:52] kirbs- commented on #72
@lwasser to use with nbconvert CLI use `--to hide_code_html`. In the command above you're calling nbconvert's stock html converter.

I'll checkout the other issue though. Have you tried setting notebook_dir parameter when starting Jupyter?

[2018-12-17 19:54] kirbs- commented on #71
I'll check it out. I didn't do much testing when @toddrme2178 submitted the PR to add the license to the wheel distributions.

[2018-12-17 20:36] lwasser commented on #72
ahhhhh @kirbs-  my apologies - i should have known that was a stock nbconvert export call not hide_code. Thank you. I will try it again using `--to hide_code_html` !! Thank you.

As for the notebook_dir parameter. can you please direct me to / or tell me how i would set that? i'll try it. My students are using this package in class and most of them ran into this 404 error issue.

[2019-01-31 13:00] klBio commented on #33
I have the issue as well with

jupyter                           1.0.0
jupyter-client                    5.2.4
jupyter-console                   6.0.0
jupyter-contrib-core              0.3.3
jupyter-contrib-nbextensions      0.5.1
jupyter-core                      4.4.0
jupyter-highlight-selected-word   0.2.0
jupyter-latex-envs                1.4.4
jupyter-nbextensions-configurator 0.4.1
jupyterla

[2019-02-13 10:40] fcrescio commented on #71
I had the same issue today, it downloaded the version:
`Collecting hide_code
  Downloading https://files.pythonhosted.org/packages/04/5b/e0512cf6e62c80c305add427bae8808001163909419e158e92d8c7e4012f/hide_code-0.5.2.tar.gz`

then failed installation because of:

`
running install_scripts
  error: [Errno 2] No such file or directory: 'LICENSE'
`

[2019-02-13 15:43] GalvinGao commented on #71
+1 for here. I just ignored the error and try to enable everything (go to step 2, 3, 4 of `README.md`), and I've been given no errors. It might works but, *do it at your own risk*.

[2019-02-13 16:45] GalvinGao opened #73 "Exporting Issues (Unknown exporter "hide_code_latexpdf"."
[code]

[2019-02-21 03:15] martinorpa commented on #73
just

on any folder run

(or incase of python3 then > pip3 install -e . )

[2019-02-28 18:33] ms440 commented on #71
+1. Annoying. Please, take a look.

[2019-03-08 04:06] synrou opened #74 "Can't export with utf-8"
I try to export in html, but in markdown cells I have text that contains "ó"  or "á", so when I export to html this characters don't display well.
How can export to html with utf-8 ?

Greetings.

[2019-03-08 22:35] kirbs- commented on #74
Not sure what's going on here, but I'll check it out. Does the output look fine if you export with the stock nbconvert utility?

[2019-03-08 22:44] synrou commented on #74
yes , if I convert using: $ jupyter nbconvert --to html mynotebook.ipynb
the exported file is right with words in spanish like "opción" or "brújula" but the cells with code hided apear completily

[2019-03-21 22:08] gganapat commented on #65
Any progress?

[2019-03-29 01:25] nevion opened #75 "Does this work in jupyter lab?"
It installs but I can't figure out how to use it's functionalities there

[2019-07-09 14:19] ruifpedro commented on #74
I've been facing the same problem.
It seems that when you open a file for reading in python, without specifying the encoding, it assumes the encoding that it deems fit for the content.
This means that, if I create a fresh notebook file and try to open it, it assumes UTF-8 encoding.
However, if the notebook has any content with accents ("á", etc) it will assume a different encoding, in my case ANSI

[2019-08-13 22:13] sachn1 opened #76 "Hide Code: Cannot Export to PDF but HTML works"
I installed hide code and also all pre-requisites as mentioned. I am able to export the notebook to HTML format but not PDF. It shows **500: Internal Server Error**. I have been following similar issues that had been raised before in the platform but unfortunately, I could no get my issue resolved.

I ran in the normal scenario where it was throwing the error mentioned above. Then, following vario

[2019-09-09 22:27] genestack-solomatin opened #77 "Invalid file name and extension if title contains spaces"
## Steps to reproduce
 - create a notebook with spaces in the title: `test space`
 - choose `export to HTML`
 - check the name of the downloadable file (download is not required)

## Observed result
The file named after first part before space, an extension is missed: `test`

## Expected result
The full title is used, or at least HTML extension is present.   `test space.html`

Win7, Firefox 69.0 (

[2019-09-09 22:30] genestack-solomatin opened #78 "It is impossible to export to HTML if notebook was renamed"
## Steps to reproduce
- create a notebook
- rename a notebook

## Observed result
500 error: `FileNotFoundError: [Errno 2] No such file or directory: <old name>`

## Observed result
No error

Win7, Firefox 69.0 (64-bit), Python 3.7, hide-code==0.5.2

[2019-09-09 22:33] Cjkjvfnby commented on #74
file: `hide_code.py`

Example of the code with the fix:
[code]

[2019-09-09 23:56] kirbs- commented on #76
Is wkhtmltopdf installed? Also, please post your jupyter notebook version.

thanks

[2019-11-15 09:22] XueWang2019 opened #79 "Export to HTML and PDF still with the output"
My issue is: the hide code works fine with Notebook, but when exporting to HTML or PDF, the outputs are still there. Then I checked the configurable nbextensions for hide_code/hide_code, the info is "This nbextension is enabled in the notebook json config, but doesn't provide a yaml file to tell us how to configure it. You can still enable or disable it from here, though."
I am not sure whether it

[2019-11-15 23:31] kirbs- commented on #79
How are you exporting? and can you post the versions of nbconvert, notebook and jupyter your using?

[2019-11-19 12:40] XueWang2019 commented on #79
I use below method to export the file:
File->Download as->PDF via Latex(.pdf)
The versions as below:
<img width="328" alt="nbconvert" src="https://user-images.githubusercontent.com/50823387/69147335-01555180-0ad2-11ea-9c8c-abf0bb20153e.PNG">
<img width="405" alt="jupter" src="https://user-images.githubusercontent.com/50823387/69147408-23e76a80-0ad2-11ea-95e5-9d8f7285fa38.PNG">
Thanks.

[2019-11-20 21:38] kirbs- commented on #79
Hide_code adds a new menu download menu with the various export formats. Try those.

[2019-11-24 21:05] XueWang2019 commented on #79
Thank you.
Now it is much better.

- It works for this function like df.head(),

![image](https://user-images.githubusercontent.com/50823387/69501559-50eab180-0f06-11ea-9e62-e50147f0f5f3.png)

-  but it doesn't work like below:

![image](https://user-images.githubusercontent.com/50823387/69501532-2862b780-0f06-11ea-91a5-0165514a1ae2.png)

[2019-11-27 07:57] XueWang2019 commented on #79
Yes, it works. Thank you very much!

[2019-11-27 07:57] #79 closed

[2019-12-13 20:17] christophergaughan commented on #40
I don't see the fix

[2020-01-13 17:31] a7906375 commented on #79
Hi When i try the new menu i get an error message that say you have requested a page that doesn't exists! Any idea why would this be the case. The new menu appears across the top. Any help would be appreciated. Thanks

[2020-01-15 11:20] ouyqf opened #80 "Hide code : Support for letters with accent marks"
Hi,

First of all, I'd like to thank the contributors of Hide code. It is an excellent extension for hiding codes when exporting notebook as html files.

But recently, I met a problem about the format in the exported html files. In fact, all the letters with accent marks like é,è,à, etc. were exported with a bad format. Here is an exemple to show the issue that I had :

The output that I wish :  F

[2020-01-31 23:25] montoyah commented on #75
Same here. Does it work at all on Jupyter Lab?

Cheers!

[2020-02-15 16:16] kirbs- commented on #80
@ouyqf would you install the dev branch and see if your issue is resolved?

[2020-02-15 16:46] kirbs- commented on #53
This is resolved in v0.5.3.

[2020-02-15 16:46] #53 closed

[2020-02-15 19:42] #76 closed

[2020-02-15 20:01] #71 closed

[2020-02-15 20:01] #74 closed

[2020-02-15 20:01] #77 closed

[2020-02-15 20:02] kirbs- commented on #80
Resolved in 0.5.3.

[2020-02-15 20:02] #80 closed

[2020-02-15 20:03] kirbs- commented on #62
Resolved in 0.5.3.

[2020-02-15 20:03] #62 closed

[2020-02-15 20:04] #72 closed

[2020-02-15 20:05] kirbs- commented on #73
Duplicate of #65

[2020-02-15 20:05] #73 closed

[2020-02-16 00:31] kirbs- commented on #75
I'll check, but I doubt it. If there's interest I'll add support.

[2020-02-16 00:42] kirbs- commented on #44
Closing this for now. I'd like to support this functionality, but parameters in markdown cells isn't support by vanilla Jupyter. Anyone that wants to see this enhancement please open a new issue.

[2020-02-16 00:42] #44 closed

[2020-02-16 00:45] kirbs- commented on #79
Please open a new issue and I'll help you there.

[2020-02-16 00:46] kirbs- commented on #40
Please open a new issue and I'll help you there.

[2020-02-16 11:50] a7906375 opened #82 "Using hide_code then convert to PDF"
I am trying to use hide_code but when I try the new menu in Jupyter notebook i get an error message that say you have requested a page that doesn't exists! Any idea why would this be the case. The new menu appears across the top. Any help would be appreciated. Thanks

[2020-02-16 13:47] kirbs- commented on #82
Can you post the error message from the console?

[2020-02-17 14:56] #65 closed

[2020-02-17 14:56] #78 closed

[2020-02-17 15:04] kirbs- opened #84 "Add Binder demo"
@fomightez from PR #83

[2020-02-17 22:22] kirbs- commented on #84
@fomightez I got binder to install the nbextension portion of hide_code, but all of the exporting is throwing 404 errors. I think this is related the the serverextension, but i can't find Jupyter logs anywhere to troubleshoot.

[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/kirbs-/hide_code/dev?filepath=demo.ipynb)

[2020-02-18 08:17] nevion commented on #75
@kirbs- definitely interested , still trying to find a workflow that doesn't involve firefox html editing away code cells for output pdf / html

[2020-02-19 07:52] psychemedia opened #86 "Use tags to identify cell disclosure state"
One of the things I've found my self doing more and more is making use of cell tags (particularly the `active-ipynb` tag in Jupytext to comment out code cells in paired text documents).

Spotting a Twitter cry against using R backed notebooks in Jupyter and note being able to invoke Rmd style `echo=FALSE` tags, this made me:

a) think of the `hide_code` extension;
b) wonder about Rmd code [chunk o

[2020-02-19 18:29] vEpiphyte opened #87 "hide-code v0.5.5 cannot be installed via pypi"
Attempting to installed hide-code v0.5.5 via pypi fails.

[code]

It looks like the change to setup.py #83 makes the assumption that jupyter/notebook libraries are available apriori.

This has broken CI tests for a project ( https://github.com/vertexproject/synapse/ ) that uses hide-code as part of its documentation test/generation workflows.

[2020-02-19 21:25] vEpiphyte commented on #87
We rolled a temporary constraint into this PR to unblock our project (linked back to issues in this repo seems to fail) here https://github.com/vertexproject/synapse/pull/1527

[2020-03-06 10:35] NEGU93 opened #88 "Install with Conda"
When trying to install it with anaconda I have the following issue:

`pip install hide_code`: This works well.

`jupyter nbextension install --py hide_code` throws:

`PermissionError: [Errno 13] Permission denied: '/usr/local/share/jupyter'`

So I try sudo:
[code]
Last issue is because of [this](https://askubuntu.com/questions/588497/sudo-conda-command-not-found).

How can I install this feature u

[2020-03-18 19:31] kenjkeefe opened #89 "Installation problem - No module named hide_code_html_exporter"
I am trying to install hide_code. It is exactly what I've been looking for for my jupyter notebooks. Please let me know what I can do to fix this error!

<pre>$ jupyter nbextension install --py hide_code
Traceback (most recent call last):
  File "/Users/kjkeefe/anaconda2/bin/jupyter-nbextension", line 8, in <module>
    sys.exit(main())
  File "/Users/kjkeefe/anaconda2/lib/python2.7/site-packages/

[2020-03-23 12:49] kirbs- commented on #88
Try add --sys-prefix to jupyter nbextension to install into virtualenv or conda environment.

[2020-03-23 12:50] kirbs- commented on #89
Looks like hide_code isn't installed. What does `pip list` show?

[2020-03-25 19:02] kenjkeefe commented on #89
I think it is installed. When I do <pre>pip list</pre>, I get the following entry:

<pre>hide-code                0.5.5</pre>

I am using a Macbook running Mojave. It is running Python 2.7.16 Anaconda.

[2020-03-26 09:50] javierrodenas commented on #89
Hi,

same is happening to me. I can't see the extension because of this error

[2020-03-26 09:54] javierrodenas commented on #89
Hi,

I have found the solution. With version 0.5.0 it works

`pip install hide_code==0.5.0
jupyter nbextension enable hide_code --py
jupyter nbextension enable hide_code --py
`

[2020-03-26 23:06] kirbs- commented on #89
I'll check it out

[2020-03-31 19:13] kenjkeefe commented on #89
I tried @javierrodenas 's solution. Although, I changed his second line to:

`jupyter nbextension install hide_code --py`

This all appeared to work and I was able to launch jupyter-notebook. However, when I opened a notebook or created a brand new one, I got this exception on the console:

<pre>[E 14:04:59.419 NotebookApp] Uncaught exception GET /notebooks/Untitled2.ipynb?kernel_name=python2 (::1

[2020-03-31 19:14] kenjkeefe commented on #89
By the way, thank you for your work on this! I'm looking forward to having this working on my notebooks.

[2020-04-01 09:38] javierrodenas commented on #89
Hi @kenjkeefe,

I am seeing that you are using python 2.7. It couldn't be adapted for this version but I'm not sure.

Could you update python version? I am using it with python 3.7 and it works perfectly.

Best regards.

[2020-04-08 10:08] brospars opened #90 "Exporting result in 404 error on Jupyterhub"
Hello,

since I updated to v0.5.3 or v0.5.5 (even tried to install v0.5.6 from `dev` branch) I get 404 error when exporting notebooks using hide_code on Jupyterhub. It was working fine in v0.5.2 but now I get an error when installing this version (`cannot build wheel` or something like this).

My hub is located on a 'subfolder' of the server and the hide_code export url looks like this :
`https://

[2020-04-23 00:02] kirbs- commented on #89
I'm not entirely sure any versions after 0.5.2 work with Python 2.7. It was officially deprecated at the end of 2019. Try using 0.5.2 with `pip install hide_code==0.5.2 --force-reinstall`

[2020-04-23 00:31] kirbs- commented on #90
hide_code isn't tested with jupyterlab. Support is on the roadmap though.

[2020-04-23 00:31] #90 closed

[2020-04-23 00:34] #82 closed

[2020-05-08 13:41] skost01 commented on #75
@kirbs- I would also be very interested in a labextension

[2020-05-18 09:36] jspencer1289 opened #91 "404 : Not Found You are requesting a page that does not exist!"
Hi all,

I've seen a few other people post this issue but i cant seem to find the answer. I love this add on product but I am getting this 404 error when trying to export to HTML with the code hidden. This is the error i get in the terminal. Any ideas?

[code]

and here are the settings:
[code]

I am fairly new to Jupyter so any help would be much appreciated.

Thanks!

[2020-06-06 00:51] trippingbillies41 commented on #91
I am also receiving this error when trying to export to PDF.

[2020-08-26 20:36] Alchemication commented on #75
@kirbs- This would be a great addition to Lab. Currently the only reason for me to use old Jupyter are slidedecks (RISE) and clean hiding code extension

[2020-08-30 12:00] Ajeethaa commented on #91
Ditto. I have tried to export to HTML and PDF (even Latex). All ended up giving the 404 error message.

[2020-09-25 10:32] kirbs- commented on #91
Can you provide more details on your setup? Based on @jspencer1289 settings it looks like this is related to Jupyter Lab. Hide_code doesn't offcialy support the lab extension. I'm finally getting around to adding Jupyter Lab support this fall.

[2020-09-25 10:43] kirbs- commented on #75
I'm finally getting around to supporting Jupyter Lab with this extension. It may take a while though. I've got to get up the learning curve on Lab's new architecture. It's pretty different than classic notebook.

[2020-09-25 13:13] nevion commented on #75
yea understood, still would find useful - I still haven't found a good way otherwise.

[2020-09-25 13:44] montoyah commented on #75
Thanks Kirbs. How can I help?

[2020-09-28 05:19] boundino opened #92 "Export issue (jinja2.exceptions.TemplateNotFound: hide_code_full.tpl)"
Hi Chris,
Many thanks for developing this very helpful tool!
I had some issues when trying to export to html. Below is the printout from `jupyter nbconvert --to hide_code_html mynote.ipynb`:

[code]

Using the button in Jupyter notebook leads to the same error. I installed hide_code via pip install hide_code, so I suppose it's a clean installation.
Any help would be appreciated!

[2020-09-28 16:25] kirbs- commented on #92
Would you post which version of nbconvert and hide_code you're using?

[2020-09-28 16:26] #89 closed

[2020-09-28 16:32] boundino commented on #92
Thanks for the prompt reply!
I'm using nbconvert 6.0.6 and hide_code 0.5.5.

[2020-09-29 13:14] kirbs- commented on #92
It looks like hide_code isn't fully installed. Can you run `jupyter nbextension list` and 'jupyter serverextension list` then post the output of each?

[2020-09-29 13:16] kirbs- commented on #92
Also might be an issue with nbconvert 6.x. This was release a couple of weeks ago and I haven't tested hide_code against it yet.

[2020-09-29 18:12] boundino commented on #92
Yes, please find the output below
[code]

[2020-09-30 18:31] kirbs- commented on #92
Just noticed [nbconvert 6.X](https://nbconvert.readthedocs.io/en/latest/changelog.html) may have broke this extension.

Try downgrading to nbconvert 5.x until I can get hide_code updated.

[2020-10-01 21:01] boundino commented on #92
Many thanks for figuring this out!
I tried nbconvert 5.5 and 5.6 (uninstall 6.x and install 5.x). `jupyter nbconvert --to html` works but `jupyter nbconvert --to hide_code_html` threw
[code]
The detailed output is as
[code]
Any idea why this happened? Thank you!

[2020-10-07 01:27] kirbs- commented on #92
After some more digging nbconvert 6.0 also forces traitlets to upgrade from 4.x to 5.x. Would you try also downgrading to traitlets==4.3.3. This worked for me on a fresh virtualenv with Python 3.8.

Here's the output of `jupyter --version`
[code]

[2020-10-19 11:06] #84 closed

[2020-10-19 11:06] #92 closed

[2020-10-19 11:08] #88 closed

[2020-11-06 00:56] kirbs- commented on #75
Hi all, I'm looking for a couple of people to test the extension for Jupyter Lab. You should be able to install it using JL's built in extension by searching for @kirbs. The extension is compatible with notebooks created with classic Jupyter notebook. It also requires having hide_code server extensions installed.

<img width="350" alt="image" src="https://user-images.githubusercontent.com/5613735/

[2020-11-06 02:12] nevion commented on #75
where does hide_code_lab come from?  Was prompted to install it via pip but pypi doesn't show it.

[2020-11-06 11:45] kirbs- commented on #75
Ah, must of missed a setting somewhere. I'll push a new version to npm.

[2020-11-06 22:52] nevion commented on #75
Probably more unique to me but:

[W 14:51:52.837 LabApp] Failed to fetch package metadata for '@kirbs/hide_code': URLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1108)'))

Any thoughts on how to disable this SSL verification error I'm seeing while running the jupyter lab server?

[2020-11-07 00:08] kirbs- commented on #75
You can try `jupyter labextension install @kirbs/hide_code`, but it probably won't work. This error is usually caused by missing CA certficates. You can try updating standard root CAs with [certifi or Install Certificates.command on MacOS](https://stackoverflow.com/questions/50236117/scraping-ssl-certificate-verify-failed-error-for-http-en-wikipedia-org). If you're on a corporate VPN or proxy, you

[2020-11-13 23:58] lautaropacella commented on #68
I have this same issue and can't seem to solve it

[2020-12-07 02:27] kirbs- commented on #87
Resolved in v0.6.0. Install with `pip install hide_code[all]`.

[2020-12-07 02:27] #87 closed

[2020-12-07 02:28] kirbs- commented on #75
Experimental support available in 0.6.0. Please open a new issue for any bugs/problems.

[2020-12-07 02:28] #75 closed

[2020-12-07 02:29] kirbs- commented on #91
Closing due to inactivity.

[2020-12-07 02:29] #91 closed

[2020-12-21 21:25] towight opened #94 "500: Internal Server Error when exporting to... anything?"
Hi kirbs
Thanks for providing the hide_cell extension.  I am a complete newb to SageMath, though I have some experience (completely irrelevant in this case) with Mathematica.  I am running SageMath 9.2 in a Jupyter notebook under Windows 10 and have installed `hide_code` as, without it, I find Sage to be a great package, doing what it does very well indeed, but of very little value to me without t

[2020-12-23 02:47] towight commented on #94
Update.
Uninstalled hide_cell.  Uninstalled Sage.  Reinstalled Sage and hide_cell.  Hide cell now exports PDF via Latex... almost.  Everything works correctly in the notebook as far as I can tell.  But in the PDF the plot I included did not show, as it should, whereas the prompt for that output cell does show, which it shouldn't.

[2021-01-04 21:41] kirbs- commented on #94
Can you post a sample notebook so l check it out? I'm not very familiar with Latex exporting. I might of missed a block display that's meant for plots/images.

[2021-01-05 18:23] towight commented on #94
Well, there's nothing exotic about the notebooks I've been using to test this kirbs.  But here is an example.  This gives me a 500: Internal server error when using hide_code to export in any format, after hiding the code in the notebook and saving the notebook with the code hidden.  I've attached the Notebook Server responses for the session.

[pdf Test.zip](https://github.com/kirbs-/hide_code/fi

[2021-01-07 12:37] Circlebit opened #95 "Jupyter Lab 3.0 not supported"
Installing hide-code via Extension Manager in  Jupyter Lab 3.0.1 produced this error:

[code]

[2021-01-07 14:04] kirbs- commented on #95
Wasn't aware JL 3 was released. Thanks for reporting. Of course they changed how lab extensions are built again :(

[2021-01-07 14:13] kirbs- commented on #94
The export URLs are wrong for some reason.
[code]
The correct export path should be `/notebooks/pdf%20Test.ipynb/export/html`. Are you triggering the export via hide_code export menu?

[2021-01-07 18:14] towight commented on #94
I had noticed the duplication before, but didn't know if it was an error or a result of some arcane programming requirement.  At any rate, I have been using the button on the toolbar to trigger the export, but it makes no difference if I use the hide_code drop down menu. (I think I misinterpreted your question but the answer still serves).
Tom W.

[2021-03-07 10:21] joofio commented on #95
Would love to have this feature in Jlab 3. If you help testing or something please let me know.

[2021-03-22 13:47] ClementFeltin commented on #94
Similar issue here with version 0.6 on Windows :
[E 12:00:25.953 NotebookApp] Uncaught exception GET /notebooks/Analyses%20managers.ipynb/Analyses%20managers.ipynb/export/html (::1)
    HTTPServerRequest(protocol='http', host='localhost:8888', method='GET', uri='/notebooks/Analyses%20managers.ipynb/Analyses%20managers.ipynb/export/html', version='HTTP/1.1', remote_ip='::1')
    Traceback (most rec

[2021-08-06 20:05] mathbunnyru commented on #95
@kirbs- may I ask you to update the extension?

I don't not have the experience with extensions, but maybe this will be enough or almost enough?
https://jupyterlab.readthedocs.io/en/stable/extension/extension_migration.html
`python -m jupyterlab.upgrade_extension .`

[2021-09-23 19:51] rjmorris opened #97 "Can't install into an empty virtual environment"
Attempting to install hide_code into an empty virtual environment results in an error, because the `notebook` package isn't already installed. This same bug was reported in #87. In that issue, the author suggested that the problem was resolved in v0.6.0 by installing as `pip install hide_code[all]`. However, I don't think that fixed the problem.

Steps to reproduce:

[code]

The problem is that `s

[2022-03-28 18:39] vwbusguy opened #98 "Traitlets too old for Jupyter Server"
Unfortunately, installing and enabling hide-code in a current version of Jupyter will cause [Jupyter Server to crash](https://github.com/jupyter-server/jupyter_server/issues/710) because it requires an old version of traitlets:

[code]

It will start if traitlets is force upgraded `pip -U traitlets` after installing hide_code, though it will throw this error:

[code]
hide_code then is then success

[2022-04-08 15:09] WhiLe4ent opened #99 "Impossible to make it work with jupyter installed with anaconda"

[2022-04-14 18:35] fdion opened #100 "URL for exports are incorrect using jupyterhub"
I think there is an issue with this function: https://github.com/kirbs-/hide_code/blob/3cac3b871c950c424b90ed8ae36edde9e2f540d9/hide_code/hide_code.js#L157

Export links show up as `/hub/notebooks/...` instead of `/user/userid/notebooks/...` and thus a 404.

[2022-04-14 18:40] fdion opened #101 "Support for recent nbconvert and traitlets"
Issue #92 raised the problem a few years back. The solution was to freeze nbconvert and traitlets. This is not practical anymore, and hide_code needs compatibility with more recent versions (at least 6.x for nbconvert)

#98 is also related.

[2022-05-03 19:15] Raudcu commented on #101
Same problem here!

[2022-05-07 00:03] vwbusguy commented on #98
The workaround I mentioned above no longer works.  It doesn't seem to be possible to install hide_code on a current version of Jupyter at all at the moment.

[2022-05-07 00:19] vwbusguy commented on #98
It looks like I was able to get it installed thanks to @fdion's fork: https://github.com/fdion/hide_code/tree/compatibility

`pip install git+https://github.com/fdion/hide_code@compatibility`

[2022-06-07 11:22] kirbs- commented on #100
Thanks for reporting.

[2022-06-07 11:30] kirbs- commented on #98
I have some time this summer to update hide_code. This package needs some serious housekeeping.

[2022-06-18 17:50] canyon289 commented on #101
Im running into the same issue, thanks for the help here

[2022-06-23 22:38] canyon289 commented on #101
Got it working for the newer versions of jupyter notebook
Created a PR here https://github.com/kirbs-/hide_code/pull/102

Until its merged you folks can install off my fork
[code]

[2022-11-13 00:19] kirbs- commented on #97
Resolved in 0.7.0 release.

[2022-11-13 00:19] #97 closed

[2022-11-13 00:19] #99 closed

[2022-11-13 00:20] #86 closed

[2022-11-13 00:20] #59 closed

[2022-11-13 00:21] #94 closed

[2022-11-13 00:31] #101 closed

[2022-11-13 00:34] #98 closed